In [246]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv',sep="\t")

In [247]:
print(df)

           gameId   creationTime  gameDuration  seasonId  winner  firstBlood  \
0      3326086514  1504279457970          1949         9       1           2
1      3229566029  1497848803862          1851         9       1           1
2      3327363504  1504360103310          1493         9       1           2
3      3326856598  1504348503996          1758         9       1           1
4      3330080762  1504554410899          2094         9       1           2
...           ...            ...           ...       ...     ...         ...
51485  3308904636  1503076540231          1944         9       2           1
51486  3215685759  1496957179355          3304         9       2           1
51487  3322765040  1504029863961          2156         9       2           2
51488  3256675373  1499562036246          1475         9       2           2
51489  3317333020  1503612754059          1445         9       1           1

       firstTower  firstInhibitor  firstBaron  firstDragon  ...  \
0               1               1           1            1  ...
1               1               1           0            1  ...
2               1               1           1            2  ...
3               1               1           1            1  ...
4               1               1           1            1  ...
...           ...             ...         ...          ...  ...
51485           2               2           0            2  ...
51486           1               2           2            2  ...
51487           2               2           0            1  ...
51488           2               2           0            2  ...
51489           1               1           1            2  ...

       t2_towerKills  t2_inhibitorKills  t2_baronKills  t2_dragonKills  \
0                  5                  0              0               1
1                  2                  0              0               0
2                  2                  0              0               1
3                  0                  0              0               0
4                  3                  0              0               1
...              ...                ...            ...             ...
51485             10                  2              0               4
51486             11                  7              4               4
51487             10                  2              0               2
51488             11                  3              0               1
51489              1                  0              0               1

       t2_riftHeraldKills  t2_ban1  t2_ban2  t2_ban3  t2_ban4  t2_ban5
0                       1      114       67       43       16       51
1                       0       11       67      238       51      420
2                       0      157      238      121       57       28
3                       0      164       18      141       40       51
4                       0       86       11      201      122       18
...                   ...      ...      ...      ...      ...      ...
51485                   0       55       -1       90      238      157
51486                   1      157       55      119      154      105
51487                   0      113      122       53       11      157
51488                   0      154       39       51       90      114
51489                   0       11      157      141       31       18

[51490 rows x 61 columns]

In [248]:
display(df)

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,3308904636,1503076540231,1944,9,2,1,2,2,0,2,...,10,2,0,4,0,55,-1,90,238,157
51486,3215685759,1496957179355,3304,9,2,1,1,2,2,2,...,11,7,4,4,1,157,55,119,154,105
51487,3322765040,1504029863961,2156,9,2,2,2,2,0,1,...,10,2,0,2,0,113,122,53,11,157
51488,3256675373,1499562036246,1475,9,2,2,2,2,0,2,...,11,3,0,1,0,154,39,51,90,114
51489,3317333020,1503612754059,1445,9,1,1,1,1,1,2,...,1,0,0,1,0,11,157,141,31,18

display  jupyter     .
```
from IPython.display import display
```
    ,        .
    print   display   !!

In [249]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [250]:
display(df.head())

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

df  head   5  ,       .

In [251]:
a = df.shape
print(a)

(51490, 61)

shape    .     tuple   .

In [252]:
columns = df.columns
print(columns)
print(type(columns))
print(columns[0])

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')
<class 'pandas.core.indexes.base.Index'>
gameId

In [253]:
column_6th = columns[5]
print(column_6th)

firstBlood

df.columns  list     .

In [254]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51490 entries, 0 to 51489
Data columns (total 61 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gameId              51490 non-null  int64
 1   creationTime        51490 non-null  int64
 2   gameDuration        51490 non-null  int64
 3   seasonId            51490 non-null  int64
 4   winner              51490 non-null  int64
 5   firstBlood          51490 non-null  int64
 6   firstTower          51490 non-null  int64
 7   firstInhibitor      51490 non-null  int64
 8   firstBaron          51490 non-null  int64
 9   firstDragon         51490 non-null  int64
 10  firstRiftHerald     51490 non-null  int64
 11  t1_champ1id         51490 non-null  int64
 12  t1_champ1_sum1      51490 non-null  int64
 13  t1_champ1_sum2      51490 non-null  int64
 14  t1_champ2id         51490 non-null  int64
 15  t1_champ2_sum1      51490 non-null  int64
 16  t1_champ2_sum2      51490 non-null  int64
 17  t1_champ3id         51490 non-null  int64
 18  t1_champ3_sum1      51490 non-null  int64
 19  t1_champ3_sum2      51490 non-null  int64
 20  t1_champ4id         51490 non-null  int64
 21  t1_champ4_sum1      51490 non-null  int64
 22  t1_champ4_sum2      51490 non-null  int64
 23  t1_champ5id         51490 non-null  int64
 24  t1_champ5_sum1      51490 non-null  int64
 25  t1_champ5_sum2      51490 non-null  int64
 26  t1_towerKills       51490 non-null  int64
 27  t1_inhibitorKills   51490 non-null  int64
 28  t1_baronKills       51490 non-null  int64
 29  t1_dragonKills      51490 non-null  int64
 30  t1_riftHeraldKills  51490 non-null  int64
 31  t1_ban1             51490 non-null  int64
 32  t1_ban2             51490 non-null  int64
 33  t1_ban3             51490 non-null  int64
 34  t1_ban4             51490 non-null  int64
 35  t1_ban5             51490 non-null  int64
 36  t2_champ1id         51490 non-null  int64
 37  t2_champ1_sum1      51490 non-null  int64
 38  t2_champ1_sum2      51490 non-null  int64
 39  t2_champ2id         51490 non-null  int64
 40  t2_champ2_sum1      51490 non-null  int64
 41  t2_champ2_sum2      51490 non-null  int64
 42  t2_champ3id         51490 non-null  int64
 43  t2_champ3_sum1      51490 non-null  int64
 44  t2_champ3_sum2      51490 non-null  int64
 45  t2_champ4id         51490 non-null  int64
 46  t2_champ4_sum1      51490 non-null  int64
 47  t2_champ4_sum2      51490 non-null  int64
 48  t2_champ5id         51490 non-null  int64
 49  t2_champ5_sum1      51490 non-null  int64
 50  t2_champ5_sum2      51490 non-null  int64
 51  t2_towerKills       51490 non-null  int64
 52  t2_inhibitorKills   51490 non-null  int64
 53  t2_baronKills       51490 non-null  int64
 54  t2_dragonKills      51490 non-null  int64
 55  t2_riftHeraldKills  51490 non-null  int64
 56  t2_ban1             51490 non-null  int64
 57  t2_ban2             51490 non-null  int64
 58  t2_ban3             51490 non-null  int64
 59  t2_ban4             51490 non-null  int64
 60  t2_ban5             51490 non-null  int64
dtypes: int64(61)
memory usage: 24.0 MB

info()        return  .

In [255]:
col_fb = df['firstBlood']
print(col_fb)

0        2
1        1
2        2
3        1
4        2
        ..
51485    1
51486    1
51487    2
51488    2
51489    1
Name: firstBlood, Length: 51490, dtype: int64

df    (   ?),    ()   .

In [256]:
print(col_fb.dtype)

int64

         .

In [257]:
print(type(df['firstBlood']))
print(df['firstBlood'])

<class 'pandas.core.series.Series'>
0        2
1        1
2        2
3        1
4        2
        ..
51485    1
51486    1
51487    2
51488    2
51489    1
Name: firstBlood, Length: 51490, dtype: int64

In [258]:
print(type(df[['firstBlood']]))
print(df[['firstBlood']])

<class 'pandas.core.frame.DataFrame'>
       firstBlood
0               2
1               1
2               2
3               1
4               2
...           ...
51485           1
51486           1
51487           2
51488           2
51489           1

[51490 rows x 1 columns]

Series  DataFrame     .

In [259]:
indexes = df.index
print(indexes)

RangeIndex(start=0, stop=51490, step=1)

df.columns  df.index  .      .

In [260]:
display(df.sort_values("gameDuration"))

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
5405,3326389082,1504297218541,190,9,1,2,0,0,0,0,...,0,0,0,0,0,16,35,18,29,40
46157,3331593233,1504682337714,190,9,2,2,0,0,0,0,...,0,0,0,0,0,18,157,40,57,55
47087,3329980283,1504551645575,191,9,1,0,0,0,0,0,...,0,0,0,0,0,114,-1,38,117,40
46624,3331056281,1504627947407,191,9,1,0,0,0,0,0,...,0,0,0,0,0,238,119,113,31,498
49702,3295181020,1502215697446,191,9,1,0,0,0,0,0,...,0,0,0,0,0,157,55,122,31,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7989,3316170772,1503566185019,4132,9,2,2,1,1,2,1,...,8,3,1,2,0,157,51,45,497,6
25416,3329569062,1504529046227,4210,9,2,2,1,2,1,1,...,11,6,2,3,0,64,119,23,157,11
13583,3329122407,1504466436882,4220,9,2,1,1,1,2,1,...,11,4,2,2,0,29,11,67,53,238
50101,3230018445,1497872895195,4562,9,2,2,2,2,1,1,...,9,4,1,3,0,122,238,117,105,412
30524,3327791693,1504384857161,4728,9,2,1,1,2,2,1,...,11,9,2,2,0,134,107,29,53,154

df  sort_values()  ,       .

In [261]:
display(df.sort_values("gameDuration").reset_index(drop=True))

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326389082,1504297218541,190,9,1,2,0,0,0,0,...,0,0,0,0,0,16,35,18,29,40
1,3331593233,1504682337714,190,9,2,2,0,0,0,0,...,0,0,0,0,0,18,157,40,57,55
2,3329980283,1504551645575,191,9,1,0,0,0,0,0,...,0,0,0,0,0,114,-1,38,117,40
3,3331056281,1504627947407,191,9,1,0,0,0,0,0,...,0,0,0,0,0,238,119,113,31,498
4,3295181020,1502215697446,191,9,1,0,0,0,0,0,...,0,0,0,0,0,157,55,122,31,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,3316170772,1503566185019,4132,9,2,2,1,1,2,1,...,8,3,1,2,0,157,51,45,497,6
51486,3329569062,1504529046227,4210,9,2,2,1,2,1,1,...,11,6,2,3,0,64,119,23,157,11
51487,3329122407,1504466436882,4220,9,2,1,1,1,2,1,...,11,4,2,2,0,29,11,67,53,238
51488,3230018445,1497872895195,4562,9,2,2,2,2,1,1,...,9,4,1,3,0,122,238,117,105,412
51489,3327791693,1504384857161,4728,9,2,1,1,2,2,1,...,11,9,2,2,0,134,107,29,53,154

df  reset_index() ,          .

In [262]:
display(df.head())
print(df['firstBlood'][2])

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

2

In [263]:
print(df['gameDuration'][3])

1758

column-key   df          .
  df   column-key   index    .

In [264]:
# print(df.head())
print(df.iloc[2, 5])

2

df  iloc()    . iloc  iloc["", ""]    .

In [265]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'
df = pd.read_csv(DataUrl, encoding='euc-kr')

    , encoding   .
1. utf-8
2. cp949
3. euc-kr
4. latin
 .

In [266]:
display(df)
print(df.shape)
number_of_rows, number_of_columns = df.shape

,id,,,,,,,,,,,,
0,22448,2018-01-01,,,32249.987,3418.266,102709.092,138377.345,39.556,29.167,5.0,0.0,2.50
1,22449,2018-01-01,,,213500.997,10341.172,112692.789,336534.958,32.900,30.900,5.0,0.0,2.50
2,22450,2018-01-01,,2,1212382.218,96920.834,541194.481,1850497.533,29.538,35.692,2.9,0.0,2.40
3,22451,2018-01-01,,1,33991.653,6034.253,72155.919,112181.825,30.000,23.500,2.9,0.0,2.40
4,22452,2018-01-01,,,155036.925,9403.969,150882.409,315323.303,41.583,14.375,5.1,0.0,2.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9616,32064,2020-04-30,,,228260.005,16891.732,152832.449,397984.186,44.514,34.054,18.1,0.0,4.70
9617,32065,2020-04-30,,,459959.064,26007.122,249700.419,735666.605,48.609,61.377,18.0,0.0,4.35
9618,32066,2020-04-30,,,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.00
9619,32067,2020-04-30,,,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.50
9620,32068,2020-04-30,,,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.80

(9621, 13)

In [267]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1           9621 non-null   object
 2          9621 non-null   object
 3         9621 non-null   object
 4         9621 non-null   float64
 5         9621 non-null   float64
 6         9621 non-null   float64
 7        9621 non-null   float64
 8         9621 non-null   float64
 9       9621 non-null   float64
 10        9621 non-null   float64
 11        9621 non-null   float64
 12        9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB

In [268]:
print(number_of_rows, number_of_columns)

9621 13

In [269]:
display(df.tail())

,id,,,,,,,,,,,,
9616,32064,2020-04-30,,,228260.005,16891.732,152832.449,397984.186,44.514,34.054,18.1,0.0,4.70
9617,32065,2020-04-30,,,459959.064,26007.122,249700.419,735666.605,48.609,61.377,18.0,0.0,4.35
9618,32066,2020-04-30,,,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.00
9619,32067,2020-04-30,,,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.50
9620,32068,2020-04-30,,,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.80

In [270]:
display(df.tail(3))

,id,,,,,,,,,,,,
9618,32066,2020-04-30,,,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.0
9619,32067,2020-04-30,,,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.5
9620,32068,2020-04-30,,,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.8

    df    .tail()    .

In [271]:
print(*dir(df), sep="\n")

T
_AXIS_LEN
_AXIS_ORDERS
_AXIS_TO_AXIS_NUMBER
_HANDLED_TYPES
__abs__
__add__
__and__
__annotations__
__array__
__array_priority__
__array_ufunc__
__arrow_c_stream__
__bool__
__class__
__contains__
__copy__
__dataframe__
__dataframe_consortium_standard__
__deepcopy__
__delattr__
__delitem__
__dict__
__dir__
__divmod__
__doc__
__eq__
__finalize__
__floordiv__
__format__
__ge__
__getattr__
__getattribute__
__getitem__
__getstate__
__gt__
__hash__
__iadd__
__iand__
__ifloordiv__
__imod__
__imul__
__init__
__init_subclass__
__invert__
__ior__
__ipow__
__isub__
__iter__
__itruediv__
__ixor__
__le__
__len__
__lt__
__matmul__
__mod__
__module__
__mul__
__ne__
__neg__
__new__
__nonzero__
__or__
__pandas_priority__
__pos__
__pow__
__radd__
__rand__
__rdivmod__
__reduce__
__reduce_ex__
__repr__
__rfloordiv__
__rmatmul__
__rmod__
__rmul__
__ror__
__round__
__rpow__
__rsub__
__rtruediv__
__rxor__
__setattr__
__setitem__
__setstate__
__sizeof__
__str__
__sub__
__subclasshook__
__truediv__
__weakref__
__xor__
_accessors
_accum_func
_agg_examples_doc
_agg_see_also_doc
_align_for_op
_align_frame
_align_series
_append
_arith_method
_arith_method_with_reindex
_as_manager
_attrs
_box_col_values
_can_fast_transpose
_check_inplace_and_allows_duplicate_labels
_check_is_chained_assignment_possible
_check_label_or_level_ambiguity
_check_setitem_copy
_clear_item_cache
_clip_with_one_bound
_clip_with_scalar
_cmp_method
_combine_frame
_consolidate
_consolidate_inplace
_construct_axes_dict
_construct_result
_constructor
_constructor_from_mgr
_constructor_sliced
_constructor_sliced_from_mgr
_create_data_for_split_and_tight_to_dict
_data
_deprecate_downcast
_dir_additions
_dir_deletions
_dispatch_frame_op
_drop_axis
_drop_labels_or_levels
_ensure_valid_index
_find_valid_index
_flags
_flex_arith_method
_flex_cmp_method
_from_arrays
_from_mgr
_get_agg_axis
_get_axis
_get_axis_name
_get_axis_number
_get_axis_resolvers
_get_block_manager_axis
_get_bool_data
_get_cleaned_column_resolvers
_get_column_array
_get_index_resolvers
_get_item_cache
_get_label_or_level_values
_get_numeric_data
_get_value
_get_values_for_csv
_getitem_bool_array
_getitem_multilevel
_getitem_nocopy
_getitem_slice
_gotitem
_hidden_attrs
_indexed_same
_info_axis
_info_axis_name
_info_axis_number
_info_repr
_init_mgr
_inplace_method
_internal_names
_internal_names_set
_is_copy
_is_homogeneous_type
_is_label_or_level_reference
_is_label_reference
_is_level_reference
_is_mixed_type
_is_view
_is_view_after_cow_rules
_iset_item
_iset_item_mgr
_iset_not_inplace
_item_cache
_iter_column_arrays
_ixs
_logical_func
_logical_method
_maybe_align_series_as_frame
_maybe_cache_changed
_maybe_update_cacher
_metadata
_mgr
_min_count_stat_function
_needs_reindex_multi
_pad_or_backfill
_protect_consolidate
_reduce
_reduce_axis1
_reindex_axes
_reindex_multi
_reindex_with_indexers
_rename
_replace_columnwise
_repr_data_resource_
_repr_fits_horizontal_
_repr_fits_vertical_
_repr_html_
_repr_latex_
_reset_cache
_reset_cacher
_sanitize_column
_series
_set_axis
_set_axis_name
_set_axis_nocheck
_set_is_copy
_set_item
_set_item_frame_value
_set_item_mgr
_set_value
_setitem_array
_setitem_frame
_setitem_slice
_shift_with_freq
_should_reindex_frame_op
_slice
_stat_function
_stat_function_ddof
_take_with_is_copy
_to_dict_of_blocks
_to_latex_via_styler
_typ
_update_inplace
_validate_dtype
_values
_where
abs
add
add_prefix
add_suffix
agg
aggregate
align
all
any
apply
applymap
asfreq
asof
assign
astype
at
at_time
attrs
axes
backfill
between_time
bfill
bool
boxplot
clip
columns
combine
combine_first
compare
convert_dtypes
copy
corr
corrwith
count
cov
cummax
cummin
cumprod
cumsum
describe
diff
div
divide
dot
drop
drop_duplicates
droplevel
dropna
dtypes
duplicated
empty
eq
equals
eval
ewm
expanding
explode
ffill
fillna
filter
first
first_valid_index
flags
floordiv
from_dict
from_records
ge
get
groupby
gt
head
hist
iat
id
idxmax
idxmin
iloc
index
infer_objects
info
insert
interpolate
isetitem
isin
isna
isnull
items
iterrows
itertuples
join
keys
kurt
kurtosis
last
last_valid_index
le
loc
lt
map
mask
max
mean
median
melt
memory_usage
merge
min
mod
mode
mul
multiply
ndim
ne
nlargest
notna
notnull
nsmallest
nunique
pad
pct_change
pipe
pivot
pivot_table
plot
pop
pow
prod
product
quantile
query
radd
rank
rdiv
reindex
reindex_like
rename
rename_axis
reorder_levels
replace
resample
reset_index
rfloordiv
rmod
rmul
rolling
round
rpow
rsub
rtruediv
sample
select_dtypes
sem
set_axis
set_flags
set_index
shape
shift
size
skew
sort_index
sort_values
squeeze
stack
std
style
sub
subtract
sum
swapaxes
swaplevel
tail
take
to_clipboard
to_csv
to_dict
to_excel
to_feather
to_gbq
to_hdf
to_html
to_json
to_latex
to_markdown
to_numpy
to_orc
to_parquet
to_period
to_pickle
to_records
to_sql
to_stata
to_string
to_timestamp
to_xarray
to_xml
transform
transpose
truediv
truncate
tz_convert
tz_localize
unstack
update
value_counts
values
var
where
xs

dir()  df       . (     )

In [272]:
# dir(df)    
file_path = 'df_attributes.txt'

with open(file_path, 'w', encoding='utf-8') as f:
    for item in dir(df):
        f.write(item + '\n')

print(f"   '{file_path}'  .    .")

   'df_attributes.txt'  .    .

In [273]:
numeric_df = df.select_dtypes(include=['int', 'float'])
# numeric_df = df.select_dtypes(exclude=['object']) //    .
display(numeric_df)

,id,,,,,,,,,
0,22448,32249.987,3418.266,102709.092,138377.345,39.556,29.167,5.0,0.0,2.50
1,22449,213500.997,10341.172,112692.789,336534.958,32.900,30.900,5.0,0.0,2.50
2,22450,1212382.218,96920.834,541194.481,1850497.533,29.538,35.692,2.9,0.0,2.40
3,22451,33991.653,6034.253,72155.919,112181.825,30.000,23.500,2.9,0.0,2.40
4,22452,155036.925,9403.969,150882.409,315323.303,41.583,14.375,5.1,0.0,2.30
...,...,...,...,...,...,...,...,...,...,...
9616,32064,228260.005,16891.732,152832.449,397984.186,44.514,34.054,18.1,0.0,4.70
9617,32065,459959.064,26007.122,249700.419,735666.605,48.609,61.377,18.0,0.0,4.35
9618,32066,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.00
9619,32067,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.50
9620,32068,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.80

df  select_dtypes()  df        .
<br>
include=[], exclude=[]      .

In [274]:
numeric_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1         9621 non-null   float64
 2         9621 non-null   float64
 3         9621 non-null   float64
 4        9621 non-null   float64
 5         9621 non-null   float64
 6       9621 non-null   float64
 7         9621 non-null   float64
 8         9621 non-null   float64
 9         9621 non-null   float64
dtypes: float64(9), int64(1)
memory usage: 751.8 KB

In [275]:
numeric_columns = numeric_df.columns
# print(df.columns)
print(numeric_columns)

Index(['id', '', '', '', ' ', ' ', '  ', ' ',
       '', ' '],
      dtype='object')

In [276]:
object_df = df.select_dtypes(include="object")
display(object_df)
print(object_df.columns)

0     2018-01-01
1     2018-01-01
2     2018-01-01     2
3     2018-01-01     1
4     2018-01-01
...          ...   ...   ...
9616  2020-04-30
9617  2020-04-30
9618  2020-04-30
9619  2020-04-30
9620  2020-04-30

[9621 rows x 3 columns]

Index(['', '', ''], dtype='object')

In [277]:
help(df.select_dtypes)

Help on method select_dtypes in module pandas.core.frame:

select_dtypes(include=None, exclude=None) -> 'Self' method of pandas.core.frame.DataFrame instance
    Return a subset of the DataFrame's columns based on the column dtypes.

    Parameters
    ----------
    include, exclude : scalar or list-like
        A selection of dtypes or strings to be included/excluded. At least
        one of these parameters must be supplied.

    Returns
    -------
    DataFrame
        The subset of the frame including the dtypes in ``include`` and
        excluding the dtypes in ``exclude``.

    Raises
    ------
    ValueError
        * If both of ``include`` and ``exclude`` are empty
        * If ``include`` and ``exclude`` have overlapping elements
        * If any kind of string dtype is passed in.

    See Also
    --------
    DataFrame.dtypes: Return Series with the data type of each column.

    Notes
    -----
    * To select all *numeric* types, use ``np.number`` or ``'number'``
    * To select strings you must use the ``object`` dtype, but note that
      this will return *all* object dtype columns. With
      ``pd.options.future.infer_string`` enabled, using ``"str"`` will
      work to select all string columns.
    * See the `numpy dtype hierarchy
      <https://numpy.org/doc/stable/reference/arrays.scalars.html>`__
    * To select datetimes, use ``np.datetime64``, ``'datetime'`` or
      ``'datetime64'``
    * To select timedeltas, use ``np.timedelta64``, ``'timedelta'`` or
      ``'timedelta64'``
    * To select Pandas categorical dtypes, use ``'category'``
    * To select Pandas datetimetz dtypes, use ``'datetimetz'``
      or ``'datetime64[ns, tz]'``

    Examples
    --------
    >>> df = pd.DataFrame({'a': [1, 2] * 3,
    ...                    'b': [True, False] * 3,
    ...                    'c': [1.0, 2.0] * 3})
    >>> df
            a      b  c
    0       1   True  1.0
    1       2  False  2.0
    2       1   True  1.0
    3       2  False  2.0
    4       1   True  1.0
    5       2  False  2.0

    >>> df.select_dtypes(include='bool')
       b
    0  True
    1  False
    2  True
    3  False
    4  True
    5  False

    >>> df.select_dtypes(include=['float64'])
       c
    0  1.0
    1  2.0
    2  1.0
    3  2.0
    4  1.0
    5  2.0

    >>> df.select_dtypes(exclude=['int64'])
           b    c
    0   True  1.0
    1  False  2.0
    2   True  1.0
    3  False  2.0
    4   True  1.0
    5  False  2.0

help()       .

In [278]:
display(df.isnull())

,id,,,,,,,,,,,,
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9616,False,False,False,False,False,False,False,False,False,False,False,False,False
9617,False,False,False,False,False,False,False,False,False,False,False,False,False
9618,False,False,False,False,False,False,False,False,False,False,False,False,False
9619,False,False,False,False,False,False,False,False,False,False,False,False,False
9620,False,False,False,False,False,False,False,False,False,False,False,False,False

df  .isnull()    null    boolean  .<br>
 ()   .>
-  null()  True

In [279]:
display(df.isnull().sum())

id          0
          0
         0
        0
        0
        0
        0
       0
        0
      0
        0
        0
        0
dtype: int64

.sum()     ,    (True   )   .

In [280]:
display(df.isnull().sum(axis=1))

0       0
1       0
2       0
3       0
4       0
       ..
9616    0
9617    0
9618    0
9619    0
9620    0
Length: 9621, dtype: int64

default  axis=0       , axis=1    ,     .

In [281]:
print(df.isnull().sum(axis=1).sum())

0

.sum()     , df       .

In [282]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1           9621 non-null   object
 2          9621 non-null   object
 3         9621 non-null   object
 4         9621 non-null   float64
 5         9621 non-null   float64
 6         9621 non-null   float64
 7        9621 non-null   float64
 8         9621 non-null   float64
 9       9621 non-null   float64
 10        9621 non-null   float64
 11        9621 non-null   float64
 12        9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB

.info()    ,       .

In [283]:
num_df = df.select_dtypes(exclude=['object'])
# display(num_df)
display(num_df.describe())

,id,,,,,,,,,
count,9621.000000,9.621000e+03,9621.000000,9621.000000,9.621000e+03,9621.000000,9621.000000,9621.000000,9621.000000,9621.000000
mean,27258.000000,3.174315e+05,35471.201510,195889.561802,5.487922e+05,41.109084,37.215873,13.550828,6.972426,2.753171
std,2777.487804,2.982079e+05,40381.214775,140706.090325,4.608802e+05,8.758631,12.993786,7.745515,27.617260,1.498538
min,22448.000000,9.305552e+03,1407.936000,11538.322000,2.225181e+04,24.333000,12.667000,-9.600000,0.000000,0.000000
25%,24853.000000,9.539939e+04,12074.498000,99632.153000,2.216910e+05,34.250000,27.889000,7.600000,0.000000,1.700000
50%,27258.000000,2.221105e+05,21960.928000,152805.335000,3.866935e+05,39.640000,34.500000,13.400000,0.000000,2.400000
75%,29663.000000,4.106671e+05,40192.032000,236325.109000,6.406918e+05,49.105000,46.176000,19.700000,1.500000,3.400000
max,32068.000000,1.364504e+06,263476.965000,723459.209000,2.066484e+06,103.000000,172.200000,30.400000,587.500000,13.333000

**.describe()**  df        . (object      .)

In [284]:
display(df[''])
#  display(df[['']])
#  display(df.iloc[:, 4])
#  display(df.loc[:, ''])

0         32249.987
1        213500.997
2       1212382.218
3         33991.653
4        155036.925
           ...
9616     228260.005
9617     459959.064
9618      28397.481
9619     348037.846
9620    1010643.372
Name: , Length: 9621, dtype: float64

         .

In [285]:
mean_speed = df[' ']
print(mean_speed.describe())
# print(mean_speed.quantile(0.75))
# print(mean_speed.quantile(0.25))
IQR = round(mean_speed.quantile(0.75) - mean_speed.quantile(0.25), 3)
print()
print(f'IQR : {IQR}')

count    9621.000000
mean       41.109084
std         8.758631
min        24.333000
25%        34.250000
50%        39.640000
75%        49.105000
max       103.000000
Name:  , dtype: float64

IQR : 14.855

IQR  .quantile()       . (IQR = Q3 - Q1)

In [286]:
display(df[""].unique())
display(df[""].nunique())

array(['', '', '2', '1', '', '', '', '', '',
       '2', '', '', '', '1', '', '', '', '',
       '2', '1', '', '', '', '', '', '', '',
       '1', '', '', '', '', '', '', '', '',
       '', '', '2', '', ''], dtype=object)

41

 unique   , .unique()    . <br>
unique   , .nunique()    . <br>
   ,            !

In [287]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'
df = pd.read_csv(DataUrl)
display(df)
print("--------------------------")
df.info()
print("--------------------------")
print(f'size : {df.shape}')

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

--------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
--------------------------
size : (4622, 5)

In [288]:
cnt = 0
for data in df.itertuples():
    quantity = data[2]
    if quantity == 3:
        print(data)
        cnt += 1
    if cnt == 5:
        break

Pandas(Index=409, order_id=178, quantity=3, item_name='Chicken Bowl', choice_description='[[Fresh Tomato Salsa (Mild), Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium)], [Black Beans, Rice, Fajita Veggies, Cheese, Guacamole, Lettuce]]', item_price='$32.94 ')
Pandas(Index=445, order_id=193, quantity=3, item_name='Bowl', choice_description='[Braised Carnitas, Pinto Beans, [Sour Cream, Cheese, Cilantro-Lime Rice]]', item_price='$22.20 ')
Pandas(Index=689, order_id=284, quantity=3, item_name='Canned Soft Drink', choice_description='[Diet Coke]', item_price='$3.75 ')
Pandas(Index=818, order_id=338, quantity=3, item_name='Bottled Water', choice_description=nan, item_price='$3.27 ')
Pandas(Index=850, order_id=350, quantity=3, item_name='Canned Soft Drink', choice_description='[Sprite]', item_price='$3.75 ')

           !<br>
**.itertuples()**     !!<br>
.itertuples     column index   column value    .

In [289]:
print(df.quantity == 3)
print(type(df.quantity))

0       False
1       False
2       False
3       False
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: quantity, Length: 4622, dtype: bool
<class 'pandas.core.series.Series'>

df  .column   ,       Boolean   Series    .

In [290]:
result_df = df[df.quantity == 3]
display(result_df)

,order_id,quantity,item_name,choice_description,item_price
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
689,284,3,Canned Soft Drink,[Diet Coke],$3.75
818,338,3,Bottled Water,NaN,$3.27
850,350,3,Canned Soft Drink,[Sprite],$3.75
917,379,3,Canned Soft Drink,[Lemonade],$3.75
1255,511,3,Steak Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$27.75
1514,616,3,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$26.25
1559,633,3,Canned Soft Drink,[Coke],$3.75
2645,1051,3,Chips and Guacamole,NaN,$13.35
2823,1121,3,Bottled Water,NaN,$3.27
2936,1167,3,Chips,NaN,$6.45
2944,1170,3,Side of Chips,NaN,$5.07
2972,1182,3,Chips and Tomatillo-Red Chili Salsa,NaN,$7.17
3089,1231,3,Canned Soft Drink,[Diet Coke],$3.75
3128,1247,3,Canned Soft Drink,[Diet Coke],$3.75
3270,1309,3,Chips and Tomatillo-Red Chili Salsa,NaN,$7.17
3294,1321,3,Bottled Water,NaN,$4.50
3314,1328,3,Bottled Water,NaN,$4.50
3334,1336,3,Steak Bowl,"[Tomatillo Green Chili (Medium), [Rice, Black ...",$26.07
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75
3603,1443,3,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$27.75
3634,1454,3,Chicken Burrito,[Fresh Tomato Salsa],$26.25
3636,1454,3,Chicken Burrito,"[Fresh Tomato Salsa, Rice]",$26.25
4098,1642,3,Canned Soft Drink,[Diet Coke],$3.75
4137,1655,3,Bottled Water,NaN,$4.50
4186,1671,3,Bottled Water,NaN,$4.50

   Boolean Series  df  key   , True        . **(Boolean Indexing)**

In [291]:
display(result_df.head())

,order_id,quantity,item_name,choice_description,item_price
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
689,284,3,Canned Soft Drink,[Diet Coke],$3.75
818,338,3,Bottled Water,NaN,$3.27
850,350,3,Canned Soft Drink,[Sprite],$3.75

  df , .head()        .<br>
.head  .tail          .iloc  .

In [292]:
df.loc[df.quantity == 3].head()

,order_id,quantity,item_name,choice_description,item_price
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
689,284,3,Canned Soft Drink,[Diet Coke],$3.75
818,338,3,Bottled Water,NaN,$3.27
850,350,3,Canned Soft Drink,[Sprite],$3.75

df.loc[]  df[]    semantic code   **df.loc[]**     .<br>
  series   , .(dot)  , key       . (      .)

In [293]:
df.loc[df['quantity'] == 3].head().reset_index(drop=True)

,order_id,quantity,item_name,choice_description,item_price
0,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
1,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
2,284,3,Canned Soft Drink,[Diet Coke],$3.75
3,338,3,Bottled Water,NaN,$3.27
4,350,3,Canned Soft Drink,[Sprite],$3.75

    .reset_index(drop=True)  .

In [294]:
custom_df = df[['quantity', 'item_price']].copy()
display(custom_df)

      quantity item_price
0            1     $2.39
1            1     $3.39
2            1     $3.39
3            1     $2.39
4            2    $16.98
...        ...        ...
4617         1    $11.75
4618         1    $11.75
4619         1    $11.25
4620         1     $8.75
4621         1     $8.75

[4622 rows x 2 columns]

df       ,     df    .<br>
     .copy()       .

In [295]:
a = '$123.23'
a = a.replace('$', "")
print(a)

123.23

 str     , **.replace()**    ...

In [296]:
new_price = df['item_price'].str.replace('$', '', regex=False).astype(float)
display(new_price)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

df  deries   **.str**   . ( )

In [297]:
df.loc[:, 'new_price'] = new_price
display(df)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

df    , dict   key : value   .<br>
 **.loc()**   df.loc[:, 'new_price']    !!

In [298]:
filtered_column = df['new_price'] <= 5
print(filtered_column)

0        True
1        True
2        True
3        True
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: new_price, Length: 4622, dtype: bool

Series Boolean  ,

In [299]:
length = df.loc[filtered_column].shape[0]
print(length)

1652

df      , .shape    df     .

In [300]:
f_series = df['item_name'] == "Chicken Salad Bowl"
display(df.loc[f_series].reset_index(drop=True))

,order_id,quantity,item_name,choice_description,item_price,new_price
0,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
1,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",$22.50,22.50
2,94,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$22.50,22.50
3,111,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
4,137,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, Fajita Vegetables]",$17.50,17.50
...,...,...,...,...,...,...
105,1813,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$17.50,17.50
106,1822,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",$11.25,11.25
107,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
108,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
109,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

value  string     boolean series  .

In [301]:
filter1 = df['item_name'] == "Chicken Salad Bowl"
filter2 = df['new_price'] <= 9
# display(df.loc[filter1].loc[filter2]) #      .
result_df = df.loc[filter1 & filter2]
display(result_df)
print("------------------------------")
print(f'size : {result_df.shape[0]}')

,order_id,quantity,item_name,choice_description,item_price,new_price
44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
256,111,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
526,220,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",$8.75,8.75
528,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
529,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
568,234,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, Fajita Vegetables]",$8.75,8.75
585,240,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, Fajita Vegetables]",$8.75,8.75
693,286,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Sour Cream, Cheese, Lett...",$8.75,8.75
702,289,1,Chicken Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",$8.75,8.75
762,314,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
1109,458,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
1460,592,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, Lettuce]",$8.75,8.75
1471,598,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
1483,602,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$8.75,8.75
1547,628,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
1601,649,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
1621,654,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
1756,709,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",$8.75,8.75
1977,798,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",$8.75,8.75
2031,818,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,8.75
2113,850,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]",$8.75,8.75
2224,896,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Sour Cream,...",$8.75,8.75
2314,926,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream]]",$8.75,8.75
2728,1083,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75,8.75
2858,1136,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$8.75,8.75
2883,1145,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",$8.75,8.75
2897,1152,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, Cheese]",$8.75,8.75
2989,1189,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
3033,1206,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",$8.75,8.75
3069,1222,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$8.75,8.75
3117,1243,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",$8.75,8.75
3259,1305,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
3261,1305,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
3310,1327,1,Chicken Salad Bowl,[Fresh Tomato Salsa],$8.75,8.75
3315,1329,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce]]",$8.75,8.75
3381,1357,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",$8.75,8.75
3411,1368,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Lettuce]]",$8.75,8.75
3623,1450,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",$8.75,8.75
3656,1461,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
3706,1483,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Chees...",$8.75,8.75
3712,1483,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Chees...",$8.75,8.75
3790,1517,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$8.75,8.75
3798,1521,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
3974,1592,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Lettu...",$8.75,8.75
3997,1601,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
4012,1606,1,Chicken Salad Bowl,[Fresh Tomato Salsa],$8.75,8.75
4035,1615,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$8.75,8.75
4064,1627,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,8.75
4205,1679,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Chees...",$8.75,8.75
4207,1679,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75
4333,1730,1,Chicken Salad Bowl,"[Tomatillo Red Chili Salsa, [Rice, Cheese]]",$8.75,8.75
4352,1738,1,Chicken Salad Bowl,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$8.75,8.75
4439,1769,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,8.75
4520,1797,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, Lettuce]",$8.75,8.75
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

------------------------------
size : 56

and   **'&'**    .<br>
~~df.loc[]   df  , chain  .loc[]        .~~<br>
gemini : chain       . "&"   .<br>
+   **"|"**  .

In [302]:
sorted_df = df.sort_values("new_price")
display(sorted_df)

,order_id,quantity,item_name,choice_description,item_price,new_price
28,14,1,Canned Soda,[Dr. Pepper],$1.09,1.09
1396,567,1,Canned Soda,[Coca Cola],$1.09,1.09
3793,1518,1,Canned Soda,[Diet Coke],$1.09,1.09
3740,1494,1,Canned Soda,[Sprite],$1.09,1.09
2754,1093,1,Bottled Water,NaN,$1.09,1.09
...,...,...,...,...,...,...
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,33.75
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25

    **.sort_values()**  .<br>
ascending=True  default  ,  .

In [303]:
display(sorted_df.reset_index(drop=True))

,order_id,quantity,item_name,choice_description,item_price,new_price
0,14,1,Canned Soda,[Dr. Pepper],$1.09,1.09
1,567,1,Canned Soda,[Coca Cola],$1.09,1.09
2,1518,1,Canned Soda,[Diet Coke],$1.09,1.09
3,1494,1,Canned Soda,[Sprite],$1.09,1.09
4,1093,1,Bottled Water,NaN,$1.09,1.09
...,...,...,...,...,...,...
4617,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,33.75
4618,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
4619,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00
4620,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
4621,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25

  .

In [304]:
filter = df['item_name'].str.contains("Chips")
print(filter)

0        True
1       False
2       False
3        True
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: item_name, Length: 4622, dtype: bool

.str  .contains()  string     , boolean  .

In [305]:
display(df.loc[filter])

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
6,3,1,Side of Chips,NaN,$1.69,1.69
10,5,1,Chips and Guacamole,NaN,$4.45,4.45
14,7,1,Chips and Guacamole,NaN,$4.45,4.45
...,...,...,...,...,...,...
4596,1826,1,Chips and Guacamole,NaN,$4.45,4.45
4600,1827,1,Chips and Guacamole,NaN,$4.45,4.45
4605,1828,1,Chips and Guacamole,NaN,$4.45,4.45
4613,1831,1,Chips,NaN,$2.15,2.15
4616,1832,1,Chips and Guacamole,NaN,$4.45,4.45

filter   df  .

In [306]:
display(df.iloc[:, ::2])

      order_id                              item_name item_price
0            1           Chips and Fresh Tomato Salsa     $2.39
1            1                                   Izze     $3.39
2            1                       Nantucket Nectar     $3.39
3            1  Chips and Tomatillo-Green Chili Salsa     $2.39
4            2                           Chicken Bowl    $16.98
...        ...                                    ...        ...
4617      1833                          Steak Burrito    $11.75
4618      1833                          Steak Burrito    $11.75
4619      1834                     Chicken Salad Bowl    $11.25
4620      1834                     Chicken Salad Bowl     $8.75
4621      1834                     Chicken Salad Bowl     $8.75

[4622 rows x 3 columns]

   loc(iloc)    . index  0 column  id     .

In [307]:
sorted_df = df.sort_values("new_price", ascending=False)
display(sorted_df.reset_index(drop=True))

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25
1,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
2,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
3,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00
4,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,33.75
...,...,...,...,...,...,...
4617,1396,1,Canned Soda,[Coca Cola],$1.09,1.09
4618,1396,1,Canned Soda,[Dr. Pepper],$1.09,1.09
4619,1405,1,Canned Soda,[Diet Dr. Pepper],$1.09,1.09
4620,424,1,Canned Soda,[Diet Dr. Pepper],$1.09,1.09
4621,24,1,Canned Soda,[Sprite],$1.09,1.09

.sort_valuse()   **ascending=False**  ,   .

In [308]:
# filter = df['item_name'] == ("Steak Salad" or "Bowl")
# print(filter)
filter1 = df['item_name'] == "Steak Salad"
filter2 = df['item_name'] == "Bowl"

In [309]:
display(df.loc[filter1 | filter2])

,order_id,quantity,item_name,choice_description,item_price,new_price
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20,22.20
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99
673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",$7.40,7.40
752,311,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99
893,369,1,Steak Salad,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$8.99,8.99
3502,1406,1,Steak Salad,"[[Lettuce, Fajita Veggies]]",$8.69,8.69

In [310]:
filter1 = df['item_name'] == "Steak Salad"
filter2 = df['item_name'] == "Bowl"
filtered_df = df.loc[filter1 | filter2]
display(filtered_df.drop_duplicates('item_name'))

,order_id,quantity,item_name,choice_description,item_price,new_price
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20,22.20
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99

df  **.drop_duplicates**      ,        unique   1  .

In [311]:
display(filtered_df.drop_duplicates('item_name', keep='last'))

,order_id,quantity,item_name,choice_description,item_price,new_price
673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",$7.40,7.40
3502,1406,1,Steak Salad,"[[Lettuce, Fajita Veggies]]",$8.69,8.69

.drop_duplicates()   keep    , keep  'first', 'last', false    , default  'first' .<br>
      ,    ...

In [312]:
new_price_mean = df['new_price'].mean()
filter = df['new_price'] >= new_price_mean
display(df.loc[filter])

,order_id,quantity,item_name,choice_description,item_price,new_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,9.25
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

.mean     **.mean()**  .

In [313]:
filter = df['item_name'] == "Izze"
df.loc[filter,'item_name'] = "Fizzy Lizzy"
display(df.loc[filter])

      order_id  quantity    item_name choice_description item_price  new_price
1            1         1  Fizzy Lizzy       [Clementine]     $3.39        3.39
24          12         1  Fizzy Lizzy       [Grapefruit]     $3.39        3.39
47          21         1  Fizzy Lizzy       [Blackberry]     $3.39        3.39
66          30         1  Fizzy Lizzy       [Blackberry]     $3.39        3.39
359        155         1  Fizzy Lizzy       [Blackberry]     $3.39        3.39
360        155         1  Fizzy Lizzy       [Grapefruit]     $3.39        3.39
430        186         1  Fizzy Lizzy       [Grapefruit]     $3.39        3.39
579        237         1  Fizzy Lizzy       [Clementine]     $3.39        3.39
580        237         1  Fizzy Lizzy       [Grapefruit]     $3.39        3.39
1059       436         1  Fizzy Lizzy       [Clementine]     $3.39        3.39
1213       495         1  Fizzy Lizzy       [Clementine]     $3.39        3.39
1611       651         1  Fizzy Lizzy       [Blackberry]     $3.39        3.39
1612       651         1  Fizzy Lizzy       [Blackberry]     $3.39        3.39
1680       680         1  Fizzy Lizzy       [Clementine]     $3.39        3.39
2088       842         1  Fizzy Lizzy       [Clementine]     $3.39        3.39
2619      1040         1  Fizzy Lizzy       [Clementine]     $3.39        3.39
2634      1046         1  Fizzy Lizzy       [Clementine]     $3.39        3.39
2758      1095         1  Fizzy Lizzy       [Blackberry]     $3.39        3.39
2891      1149         1  Fizzy Lizzy       [Blackberry]     $3.39        3.39
3669      1468         1  Fizzy Lizzy       [Blackberry]     $3.39        3.39

  **.loc[' ', '  ']**    .   filter   series  True   ,    .

In [314]:
filter = df['choice_description'].isnull()
# print(filter)
df.loc[filter, 'choice_description'] = "NoData"
display(df)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NoData,$2.39,2.39
1,1,1,Fizzy Lizzy,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NoData,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

NaN   
1. **.isnull()**    series  , .loc[filter, 'coulumn_key']     .
2. series   **.fillna()**     NaN   , .loc[:, 'column_key']   column   .
```python
# 'Age'   fillna()  NaN 0  '' Series 
filled_series = df['Age'].fillna(0)

#   Series  DataFrame   ()
df['Age'] = filled_series 

#      (  ):
df['Age'] = df['Age'].fillna(0)
```
 example by gemini.

In [315]:
filter = df['choice_description'].str.contains("Black")
display(df.loc[filter])

,order_id,quantity,item_name,choice_description,item_price,new_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,9.25
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,8.75
...,...,...,...,...,...,...
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,8.75
4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25,11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25,9.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75

    , .str.contains()  .

In [316]:
filter = ~df['choice_description'].str.contains("Vegetables")
# print(filter)
cnt = df.loc[filter].shape[0]
print(cnt)

3900

Boolean series   **'~'()**     True/False    .

In [317]:
filter = df['item_name'].str[0] == "N"
# print(filter)
display(df.loc[filter])

,order_id,quantity,item_name,choice_description,item_price,new_price
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39,3.39
105,46,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39,3.39
173,77,1,Nantucket Nectar,[Apple],$3.39,3.39
205,91,1,Nantucket Nectar,[Peach Orange],$3.39,3.39
436,189,1,Nantucket Nectar,[Pomegranate Cherry],$3.39,3.39
601,247,2,Nantucket Nectar,[Pineapple Orange Banana],$6.78,6.78
925,381,1,Nantucket Nectar,[Pomegranate Cherry],$3.39,3.39
1356,553,1,Nantucket Nectar,[Pomegranate Cherry],$3.39,3.39
1585,641,1,Nantucket Nectar,[Peach Orange],$3.39,3.39
1626,656,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39,3.39
1706,690,1,Nantucket Nectar,[Apple],$3.39,3.39
2162,872,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39,3.39
2379,947,2,Nantucket Nectar,[Peach Orange],$6.78,6.78
2381,947,1,Nantucket Nectar,[Apple],$3.39,3.39
2430,965,1,Nantucket Nectar,[Pomegranate Cherry],$3.39,3.39
2653,1053,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39,3.39
2818,1118,1,Nantucket Nectar,[Apple],$3.39,3.39
2838,1128,1,Nantucket Nectar,[Peach Orange],$3.39,3.39
2853,1133,1,Nantucket Nectar,[Apple],$3.39,3.39
2949,1172,1,Nantucket Nectar,[Peach Orange],$3.39,3.39
3318,1330,1,Nantucket Nectar,[Peach Orange],$3.39,3.39
3368,1351,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39,3.39
3570,1433,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39,3.39
3845,1541,1,Nantucket Nectar,[Peach Orange],$3.39,3.39
4019,1609,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39,3.39
4078,1632,1,Nantucket Nectar,[Peach Orange],$3.39,3.39

.str  series     str       .  ...<br>
,   value   ,    , .str[0]      .

In [318]:
filter = df['item_name'].str.len() >= 15
display(df.loc[filter])

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NoData,$2.39,2.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NoData,$2.39,2.39
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,9.25
10,5,1,Chips and Guacamole,NoData,$4.45,4.45
...,...,...,...,...,...,...
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75,8.75
4616,1832,1,Chips and Guacamole,NoData,$4.45,4.45
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

  15       ,     ? , **.str.len()**          Boolean series     .

In [319]:
lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]
filter = df['new_price'].isin(lst)
# print(filter)
cnt = df.loc[filter].shape[0]
print(cnt)

1393

in    .  **.isin()**    .

In [320]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv'
df = pd.read_csv(DataUrl)
display(df)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [321]:
filter = df.columns[0:5]
display(df.loc[:, filter])

,id,name,host_id,host_name,neighbourhood_group
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan
...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan

.columns    , df.loc[:, ]  filter  ,      .<br>
, df.loc[:, 'column_filter_key']  df.['column_filter_key']     .

In [322]:
print(df['host_name'].value_counts().sort_index().head())

host_name
'Cil                        1
(Ari) HENRY LEE             1
(Email hidden by Airbnb)    6
(Mary) Haiy                 1
-TheQueensCornerLot         1
Name: count, dtype: int64

**.value_counts()**  value       counting   .

In [323]:
new_frame = df['host_name'].value_counts().to_frame(name='counts')

display(new_frame)

               counts
host_name
Michael           417
David             403
Sonder (NYC)      327
John              294
Alex              279
...               ...
Elmar               1
                  1
Luciana Paula       1
Flvia              1
Hal                 1

[11452 rows x 1 columns]

  , .rename() , .columns    , .to_frame()  name=' '      .

In [324]:
lst = ['neighbourhood_group', 'neighbourhood']
display(df[lst].groupby(lst, as_index=False).size())

    neighbourhood_group  neighbourhood  size
0                 Bronx       Allerton    42
1                 Bronx     Baychester     7
2                 Bronx        Belmont    24
3                 Bronx      Bronxdale    19
4                 Bronx    Castle Hill     9
..                  ...            ...   ...
216       Staten Island    Tottenville     7
217       Staten Island  West Brighton    18
218       Staten Island    Westerleigh     2
219       Staten Island    Willowbrook     1
220       Staten Island        Woodrow     1

[221 rows x 3 columns]

2    df   , series   df   .

.groupby()   ,
- .size()
- .count()
- .max()
- .min()
- .sum()
- .mean() <br>

       .

.groupby()   **as_index=False**  return  df  . (       .)

In [325]:
new_df = df[lst].groupby(lst, as_index=False).size()
# display(new_df)
new_df.sort_values(['neighbourhood_group', 'size'], ascending=[True, False]).drop_duplicates('neighbourhood_group', keep='first')

    neighbourhood_group neighbourhood  size
18                Bronx   Kingsbridge    70
93             Brooklyn  Williamsburg  3920
105           Manhattan        Harlem  2658
128              Queens       Astoria   900
212       Staten Island    St. George    48

- .sort_values()    list  ,      .
-   ascending  list  ,    , ,     .
- .drop_duplicates()     . keep='first'  ,        .
-     size      .

In [326]:
lst = ['neighbourhood_group', 'price']
new_df = df[lst].groupby('neighbourhood_group', as_index=False).agg(['mean', 'var', 'max', 'min'])
display(new_df)

  neighbourhood_group       price
                             mean           var    max min
0               Bronx   87.496792  11386.885081   2500   0
1            Brooklyn  124.383207  34921.719135  10000   0
2           Manhattan  196.875814  84904.159185  10000   0
3              Queens   99.517649  27923.130227  10000  10
4       Staten Island  114.812332  77073.088342   5000  13

.groupby()   **.agg()**  list   , 'mean', 'var' ...         .
.size()        2     .agg()  .

In [327]:
lst = ['neighbourhood_group', 'reviews_per_month']
new_df = df[lst].groupby('neighbourhood_group', as_index=False).agg(['mean', 'var', 'max', 'min'])
display(new_df)

  neighbourhood_group reviews_per_month
                                   mean       var    max   min
0               Bronx          1.837831  2.799878  10.34  0.02
1            Brooklyn          1.283212  2.299040  14.00  0.01
2           Manhattan          1.272131  2.651206  58.50  0.01
3              Queens          1.941200  4.897848  20.94  0.01
4       Staten Island          1.872580  2.840895  10.12  0.02

   . (   .)

In [328]:
lst = ['neighbourhood', 'neighbourhood_group', 'price']
new_df = df[lst].groupby(['neighbourhood', 'neighbourhood_group'], as_index=False).mean()
display(new_df)

       neighbourhood neighbourhood_group       price
0           Allerton               Bronx   87.595238
1      Arden Heights       Staten Island   67.250000
2           Arrochar       Staten Island  115.000000
3            Arverne              Queens  171.779221
4            Astoria              Queens  117.187778
..               ...                 ...         ...
216  Windsor Terrace            Brooklyn  138.993631
217        Woodhaven              Queens   67.170455
218         Woodlawn               Bronx   60.090909
219          Woodrow       Staten Island  700.000000
220         Woodside              Queens   85.097872

[221 rows x 3 columns]

1.    df  .
2.      .mean()  ,         .
3.    .

In [329]:
new_df = df.groupby(['neighbourhood', 'neighbourhood_group'], as_index=False)['price'].mean()
display(new_df)

       neighbourhood neighbourhood_group       price
0           Allerton               Bronx   87.595238
1      Arden Heights       Staten Island   67.250000
2           Arrochar       Staten Island  115.000000
3            Arverne              Queens  171.779221
4            Astoria              Queens  117.187778
..               ...                 ...         ...
216  Windsor Terrace            Brooklyn  138.993631
217        Woodhaven              Queens   67.170455
218         Woodlawn               Bronx   60.090909
219          Woodrow       Staten Island  700.000000
220         Woodside              Queens   85.097872

[221 rows x 3 columns]

 df .groupby()  ,     'column_key'        .  .mean()          .

In [330]:
new_df = df.groupby(['neighbourhood', 'neighbourhood_group'], as_index=False)['price'].mean()

display(new_df)
# df.info()

print(f'   : {new_df.index.nlevels}')

       neighbourhood neighbourhood_group       price
0           Allerton               Bronx   87.595238
1      Arden Heights       Staten Island   67.250000
2           Arrochar       Staten Island  115.000000
3            Arverne              Queens  171.779221
4            Astoria              Queens  117.187778
..               ...                 ...         ...
216  Windsor Terrace            Brooklyn  138.993631
217        Woodhaven              Queens   67.170455
218         Woodlawn               Bronx   60.090909
219          Woodrow       Staten Island  700.000000
220         Woodside              Queens   85.097872

[221 rows x 3 columns]

   : 1

.groupby()  , **as_index=False**   ,      ,    **.index.nlevels**     .

In [331]:
filter = df['neighbourhood_group'].str.contains("Queens")
# print(filter)
# display(df.loc[filter])
new_df = df.loc[filter].groupby(['neighbourhood'], as_index=False)['price'].agg(['mean', 'var', 'max', 'min'])
display(new_df)

          neighbourhood        mean            var    max  min
0               Arverne  171.779221   37383.411141   1500   35
1               Astoria  117.187778  122428.811196  10000   25
2           Bay Terrace  142.000000    6816.400000    258   32
3               Bayside  157.948718  166106.470985   2600   30
4             Bayswater   87.470588    2330.889706    230   45
5          Belle Harbor  171.500000    8226.571429    350   85
6             Bellerose   99.357143    3093.016484    240   42
7          Breezy Point  213.333333    1008.333333    250  195
8             Briarwood  105.875000   18503.165909   1000   30
9       Cambria Heights   81.730769    2960.604615    250   31
10        College Point   88.000000    6445.555556    400   44
11               Corona   59.171875    2430.557292    359   23
12     Ditmars Steinway   95.029126    4214.112785    600   22
13           Douglaston   82.750000    2347.071429    178   40
14        East Elmhurst   81.183784    4369.487779    700   16
15             Edgemere   94.727273    4219.418182    200   40
16             Elmhurst   80.459916    3896.563005    443   15
17         Far Rockaway  165.862069   52575.980296    900   35
18             Flushing   93.514085   12417.177448   1500   15
19         Forest Hills  121.625000   44533.368881   2350   16
20        Fresh Meadows   99.500000    6394.451613    375   39
21             Glendale   90.796296    3230.882250    299   25
22               Hollis   88.642857    1483.016484    175   50
23           Holliswood  135.750000    5091.583333    239   79
24         Howard Beach  115.400000    4241.936842    250   40
25      Jackson Heights   80.897849    2150.470590    260   23
26              Jamaica   95.770563    8067.047130   1000   10
27      Jamaica Estates  182.947368   29006.052632    750   35
28        Jamaica Hills  132.125000   11304.696429    325   50
29          Kew Gardens   88.375000    2632.306452    219   35
30    Kew Gardens Hills  112.307692    6230.621538    399   40
31            Laurelton   95.333333    4355.529412    254   34
32          Little Neck   75.200000    2368.700000    149   32
33     Long Island City  127.465549   15529.503009   2000   30
34              Maspeth   83.645455    2223.607089    245   11
35       Middle Village  109.580645    3537.118280    265   28
36             Neponsit  274.666667    5625.333333    350  200
37           Ozone Park   85.274194    1705.415389    200   25
38       Queens Village   83.933333    2386.470056    320   25
39            Rego Park   83.877358    3659.003863    300   21
40        Richmond Hill   87.117021    3474.147449    300   28
41            Ridgewood   77.184397    2629.311889    375   20
42       Rockaway Beach  132.178571    6254.622078    545   49
43             Rosedale   76.694915    2963.939801    350   22
44     South Ozone Park   82.400000    4619.989744    400   29
45  Springfield Gardens   94.235294    2490.848739    300   40
46           St. Albans  100.828947    9489.903684    600   25
47            Sunnyside   84.865014    2727.746922    600   12
48           Whitestone  107.545455   13632.072727    400   35
49            Woodhaven   67.170455    1642.464864    250   10
50             Woodside   85.097872    5001.900636    500   28

filtering  df        .

In [332]:
#  1.

new_df = df.groupby(['neighbourhood_group', 'room_type'], as_index=False).size()
display(new_df)

lst = new_df.neighbourhood_group.unique()

# print(df['neighbourhood_group'].value_counts()[lst].values)

temp_group_sum = list()
for x in df['neighbourhood_group'].value_counts()[lst].values:
    for _ in range(3):
        temp_group_sum.append(x)
# print(temp_group_sum)
group_sum_series = pd.Series(temp_group_sum)
new_df.loc[:, 'ratio'] = new_df['size'] / group_sum_series

display(new_df)

   neighbourhood_group        room_type   size
0                Bronx  Entire home/apt    379
1                Bronx     Private room    652
2                Bronx      Shared room     60
3             Brooklyn  Entire home/apt   9559
4             Brooklyn     Private room  10132
5             Brooklyn      Shared room    413
6            Manhattan  Entire home/apt  13199
7            Manhattan     Private room   7982
8            Manhattan      Shared room    480
9               Queens  Entire home/apt   2096
10              Queens     Private room   3372
11              Queens      Shared room    198
12       Staten Island  Entire home/apt    176
13       Staten Island     Private room    188
14       Staten Island      Shared room      9

   neighbourhood_group        room_type   size     ratio
0                Bronx  Entire home/apt    379  0.347388
1                Bronx     Private room    652  0.597617
2                Bronx      Shared room     60  0.054995
3             Brooklyn  Entire home/apt   9559  0.475478
4             Brooklyn     Private room  10132  0.503979
5             Brooklyn      Shared room    413  0.020543
6            Manhattan  Entire home/apt  13199  0.609344
7            Manhattan     Private room   7982  0.368496
8            Manhattan      Shared room    480  0.022160
9               Queens  Entire home/apt   2096  0.369926
10              Queens     Private room   3372  0.595129
11              Queens      Shared room    198  0.034945
12       Staten Island  Entire home/apt    176  0.471850
13       Staten Island     Private room    188  0.504021
14       Staten Island      Shared room      9  0.024129

**   ** series , df   . <br>
**pd.Series()**   1   series  .

In [333]:
#  2.

# 1.     (size) 
new_df = df.groupby(['neighbourhood_group', 'room_type'], as_index=False).size().rename(columns={'size': 'group_count'})

# 2. 'neighbourhood_group' ( )  
# transform('sum') ,        new_df      .
total_group_sum = new_df.groupby('neighbourhood_group')['group_count'].transform('sum')

# display(total_group_sum)

# 3. (Ratio)  
# (  /    )  
new_df['ratio'] = new_df['group_count'] / total_group_sum

display(new_df)

   neighbourhood_group        room_type  group_count     ratio
0                Bronx  Entire home/apt          379  0.347388
1                Bronx     Private room          652  0.597617
2                Bronx      Shared room           60  0.054995
3             Brooklyn  Entire home/apt         9559  0.475478
4             Brooklyn     Private room        10132  0.503979
5             Brooklyn      Shared room          413  0.020543
6            Manhattan  Entire home/apt        13199  0.609344
7            Manhattan     Private room         7982  0.368496
8            Manhattan      Shared room          480  0.022160
9               Queens  Entire home/apt         2096  0.369926
10              Queens     Private room         3372  0.595129
11              Queens      Shared room          198  0.034945
12       Staten Island  Entire home/apt          176  0.471850
13       Staten Island     Private room          188  0.504021
14       Staten Island      Shared room            9  0.024129

**.transform()**    . .groupby()     , group     ,     .

In [334]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv'
df = pd.read_csv(DataUrl, index_col=0)

display(df)

print(f'    {df.shape} .')

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,3,2,3,4003.0,1851,2152.0,0.703,15476
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,4,2,3,4277.0,2186,2091.0,0.804,8764
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,5,3,4,5409.0,0,5409.0,0.819,10291
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,4,3,3,5281.0,0,5281.0,0.535,8395
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,6,2,4,10388.0,1961,8427.0,0.703,10294

    (10127, 18) .

.read_csv()  index_col=0     1  .

In [335]:
dic = {'Unknown' : 'N', 'Less than $40K' : 'a', '$40K - $60K' : 'b', '$60K - $80K' : 'c', '$80K - $120K' : 'd', '$120K +' : 'e'}
new_df = df['Income_Category'].map(dic)
df.loc[:, 'newIncome'] = new_df
display(df)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,newIncome
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,c
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,a
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,d
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,a
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,c
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,3,2,3,4003.0,1851,2152.0,0.703,15476,b
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,4,2,3,4277.0,2186,2091.0,0.804,8764,b
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,5,3,4,5409.0,0,5409.0,0.819,10291,a
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,4,3,3,5281.0,0,5281.0,0.535,8395,b
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,6,2,4,10388.0,1961,8427.0,0.703,10294,a

series  , .map()  dict   ,  key-value  , series    dict  value  .

In [336]:
def income_mapper(x):
    return dic[x]

new_df = df['Income_Category'].apply(income_mapper)
display(new_df)

df.loc[:, 'newIncome'] = new_df

display(df)

0        c
1        a
2        d
3        a
4        c
        ..
10122    b
10123    b
10124    a
10125    b
10126    a
Name: Income_Category, Length: 10127, dtype: object

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,newIncome
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,c
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,a
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,d
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,a
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,c
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,3,2,3,4003.0,1851,2152.0,0.703,15476,b
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,4,2,3,4277.0,2186,2091.0,0.804,8764,b
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,5,3,4,5409.0,0,5409.0,0.819,10291,a
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,4,3,3,5281.0,0,5281.0,0.535,8395,b
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,6,2,4,10388.0,1961,8427.0,0.703,10294,a

**.apply()**  ,          .  def    ,  lambda  .
gemini , **.map()**      ,   .

.map()  series         ,
.apply()  df           .

In [337]:
lst = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

def mapper(age):
    index = age // 10
    return lst[index]

new_df = df['Customer_Age'].apply(mapper)

df.loc[:, 'AgeState'] = new_df
# display(df.groupby(['AgeState']).size().reset_index(name='Count'))

display(df['AgeState'].value_counts().sort_index())

AgeState
20     195
30    1841
40    4561
50    2998
60     530
70       2
Name: count, dtype: int64

.apply()  age , mapper   AgeState  df  .
   groupby() , .value_counts()   .

.reset_index()  series         ,    df  .

In [338]:
#1 .map()      .

temp_level = df['Education_Level'].str.contains("Graduate")

dic = {True : 1, False : 0}

new_df = temp_level.map(dic)

df.loc[:, 'newEduLevel'] = new_df
print(df['newEduLevel'].value_counts())

newEduLevel
0    6483
1    3644
Name: count, dtype: int64

In [339]:
#2    .astype()  .

new_df = df['Education_Level'].str.contains("Graduate").astype('int')

# print(new_df)

df.loc[:, 'newEduLevel'] = new_df
print(df['newEduLevel'].value_counts())

newEduLevel
0    6483
1    3644
Name: count, dtype: int64

Boolean   0, 1     , **.astype(int)**   Boolean  series   1 0  int  serires    .

In [340]:
#1 .astype()   

new_df = (df['Credit_Limit'] >= 4500).astype(int)
df.loc[:, 'newLimit'] = new_df
print(df['newLimit'].value_counts())

newLimit
1    5096
0    5031
Name: count, dtype: int64

In [341]:
#2. .map()  lambda   .

new_df = df['Credit_Limit'].map(lambda x: 1 if x >= 4500 else 0)
df.loc[:, 'newLimit'] = new_df
print(df['newLimit'].value_counts())

newLimit
1    5096
0    5031
Name: count, dtype: int64

series     series  ,   series      .

.map() lambda    ,    .astype()      .

In [342]:
#1       series   

filter1 = df['Marital_Status'] == "Married"
filter2 = df['Card_Category'] == "Platinum"
new_df = (filter1 & filter2).astype(int)
# print(new_df)

df.loc[:, 'newState'] = new_df
display(df['newState'].value_counts())

newState
0    10120
1        7
Name: count, dtype: int64

series     and, or      , **"&"**  **"|"**   .          ,   .

In [343]:
#2 .apply()    ,      
def function(x):
    if x['Marital_Status'] == "Married" and x['Card_Category'] == "Platinum":
        return 1
    else:
        return 0
new_df = df[['Marital_Status', 'Card_Category']].apply(function, axis=1)
df.loc[:, 'newState'] = new_df
display(df['newState'].value_counts())

newState
0    10120
1        7
Name: count, dtype: int64

**.apply()  df     .** .map()  series    . .apply()     series   , **axis=1**       series   .     column-key     .

In [344]:
dic = {'M': 'male', 'F': 'female'}
new_df = df['Gender'].map(dic)
df.loc[:, 'Gender'] = new_df
display(df['Gender'].value_counts())
# display(df)

Gender
female    5358
male      4769
Name: count, dtype: int64

       series  ,      ,  df    .

In [345]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv'
df = pd.read_csv(DataUrl)
display(df.head())

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [346]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   object
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: float64(12), object(1)
memory usage: 667.8+ KB

In [347]:
#   astype()     pandas to_datetime()  .
df['Yr_Mo_Dy'] = pd.to_datetime(df['Yr_Mo_Dy'])
print(df['Yr_Mo_Dy'].dtype)

datetime64[ns]

In [348]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   datetime64[ns]
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 667.8 KB

       , .loc      . <br>
**df['column-key']**  ,   .<br>
   ,  ... gemini   ...

In [349]:
display(sorted(df['Yr_Mo_Dy'].dt.year.unique()))

[np.int32(1971),
 np.int32(1972),
 np.int32(1973),
 np.int32(1974),
 np.int32(1975),
 np.int32(1976),
 np.int32(1977),
 np.int32(1978),
 np.int32(2061),
 np.int32(2062),
 np.int32(2063),
 np.int32(2064),
 np.int32(2065),
 np.int32(2066),
 np.int32(2067),
 np.int32(2068),
 np.int32(2069),
 np.int32(2070)]

datetime  , .str   , **.dt **         .

In [350]:
new_df = (df['Yr_Mo_Dy'].dt.year >= 2061)

def func(day):
    target = int(day[0:4])
    remain = day[4:]
    if target >= 2061:
        day = str(target - 100) + remain
    return day

new_df = pd.to_datetime(df['Yr_Mo_Dy'].astype(str).map(func))
# print(new_df)
df['Yr_Mo_Dy'] = new_df
# display(df)

display(sorted(df['Yr_Mo_Dy'].unique()))

[Timestamp('1961-01-01 00:00:00'),
 Timestamp('1961-01-02 00:00:00'),
 Timestamp('1961-01-03 00:00:00'),
 Timestamp('1961-01-04 00:00:00'),
 Timestamp('1961-01-05 00:00:00'),
 Timestamp('1961-01-06 00:00:00'),
 Timestamp('1961-01-07 00:00:00'),
 Timestamp('1961-01-08 00:00:00'),
 Timestamp('1961-01-09 00:00:00'),
 Timestamp('1961-01-10 00:00:00'),
 Timestamp('1961-01-11 00:00:00'),
 Timestamp('1961-01-12 00:00:00'),
 Timestamp('1961-01-13 00:00:00'),
 Timestamp('1961-01-14 00:00:00'),
 Timestamp('1961-01-15 00:00:00'),
 Timestamp('1961-01-16 00:00:00'),
 Timestamp('1961-01-17 00:00:00'),
 Timestamp('1961-01-18 00:00:00'),
 Timestamp('1961-01-19 00:00:00'),
 Timestamp('1961-01-20 00:00:00'),
 Timestamp('1961-01-21 00:00:00'),
 Timestamp('1961-01-22 00:00:00'),
 Timestamp('1961-01-23 00:00:00'),
 Timestamp('1961-01-24 00:00:00'),
 Timestamp('1961-01-25 00:00:00'),
 Timestamp('1961-01-26 00:00:00'),
 Timestamp('1961-01-27 00:00:00'),
 Timestamp('1961-01-28 00:00:00'),
 Timestamp('1961-01-29 00:00:00'),
 Timestamp('1961-01-30 00:00:00'),
 Timestamp('1961-01-31 00:00:00'),
 Timestamp('1961-02-01 00:00:00'),
 Timestamp('1961-02-02 00:00:00'),
 Timestamp('1961-02-03 00:00:00'),
 Timestamp('1961-02-04 00:00:00'),
 Timestamp('1961-02-05 00:00:00'),
 Timestamp('1961-02-06 00:00:00'),
 Timestamp('1961-02-07 00:00:00'),
 Timestamp('1961-02-08 00:00:00'),
 Timestamp('1961-02-09 00:00:00'),
 Timestamp('1961-02-10 00:00:00'),
 Timestamp('1961-02-11 00:00:00'),
 Timestamp('1961-02-12 00:00:00'),
 Timestamp('1961-02-13 00:00:00'),
 Timestamp('1961-02-14 00:00:00'),
 Timestamp('1961-02-15 00:00:00'),
 Timestamp('1961-02-16 00:00:00'),
 Timestamp('1961-02-17 00:00:00'),
 Timestamp('1961-02-18 00:00:00'),
 Timestamp('1961-02-19 00:00:00'),
 Timestamp('1961-02-20 00:00:00'),
 Timestamp('1961-02-21 00:00:00'),
 Timestamp('1961-02-22 00:00:00'),
 Timestamp('1961-02-23 00:00:00'),
 Timestamp('1961-02-24 00:00:00'),
 Timestamp('1961-02-25 00:00:00'),
 Timestamp('1961-02-26 00:00:00'),
 Timestamp('1961-02-27 00:00:00'),
 Timestamp('1961-02-28 00:00:00'),
 Timestamp('1961-03-01 00:00:00'),
 Timestamp('1961-03-02 00:00:00'),
 Timestamp('1961-03-03 00:00:00'),
 Timestamp('1961-03-04 00:00:00'),
 Timestamp('1961-03-05 00:00:00'),
 Timestamp('1961-03-06 00:00:00'),
 Timestamp('1961-03-07 00:00:00'),
 Timestamp('1961-03-08 00:00:00'),
 Timestamp('1961-03-09 00:00:00'),
 Timestamp('1961-03-10 00:00:00'),
 Timestamp('1961-03-11 00:00:00'),
 Timestamp('1961-03-12 00:00:00'),
 Timestamp('1961-03-13 00:00:00'),
 Timestamp('1961-03-14 00:00:00'),
 Timestamp('1961-03-15 00:00:00'),
 Timestamp('1961-03-16 00:00:00'),
 Timestamp('1961-03-17 00:00:00'),
 Timestamp('1961-03-18 00:00:00'),
 Timestamp('1961-03-19 00:00:00'),
 Timestamp('1961-03-20 00:00:00'),
 Timestamp('1961-03-21 00:00:00'),
 Timestamp('1961-03-22 00:00:00'),
 Timestamp('1961-03-23 00:00:00'),
 Timestamp('1961-03-24 00:00:00'),
 Timestamp('1961-03-25 00:00:00'),
 Timestamp('1961-03-26 00:00:00'),
 Timestamp('1961-03-27 00:00:00'),
 Timestamp('1961-03-28 00:00:00'),
 Timestamp('1961-03-29 00:00:00'),
 Timestamp('1961-03-30 00:00:00'),
 Timestamp('1961-03-31 00:00:00'),
 Timestamp('1961-04-01 00:00:00'),
 Timestamp('1961-04-02 00:00:00'),
 Timestamp('1961-04-03 00:00:00'),
 Timestamp('1961-04-04 00:00:00'),
 Timestamp('1961-04-05 00:00:00'),
 Timestamp('1961-04-06 00:00:00'),
 Timestamp('1961-04-07 00:00:00'),
 Timestamp('1961-04-08 00:00:00'),
 Timestamp('1961-04-09 00:00:00'),
 Timestamp('1961-04-10 00:00:00'),
 Timestamp('1961-04-11 00:00:00'),
 Timestamp('1961-04-12 00:00:00'),
 Timestamp('1961-04-13 00:00:00'),
 Timestamp('1961-04-14 00:00:00'),
 Timestamp('1961-04-15 00:00:00'),
 Timestamp('1961-04-16 00:00:00'),
 Timestamp('1961-04-17 00:00:00'),
 Timestamp('1961-04-18 00:00:00'),
 Timestamp('1961-04-19 00:00:00'),
 Timestamp('1961-04-20 00:00:00'),
 Timestamp('1961-04-21 00:00:00'),
 Timestamp('1961-04-22 00:00:00'),
 Timestamp('1961-04-23 00:00:00'),
 Timestamp('1961-04-24 00:00:00'),
 Timestamp('1961-04-25 00:00:00'),
 Timestamp('1961-04-26 00:00:00'),
 Timestamp('1961-04-27 00:00:00'),
 Timestamp('1961-04-28 00:00:00'),
 Timestamp('1961-04-29 00:00:00'),
 Timestamp('1961-04-30 00:00:00'),
 Timestamp('1961-05-01 00:00:00'),
 Timestamp('1961-05-02 00:00:00'),
 Timestamp('1961-05-03 00:00:00'),
 Timestamp('1961-05-04 00:00:00'),
 Timestamp('1961-05-05 00:00:00'),
 Timestamp('1961-05-06 00:00:00'),
 Timestamp('1961-05-07 00:00:00'),
 Timestamp('1961-05-08 00:00:00'),
 Timestamp('1961-05-09 00:00:00'),
 Timestamp('1961-05-10 00:00:00'),
 Timestamp('1961-05-11 00:00:00'),
 Timestamp('1961-05-12 00:00:00'),
 Timestamp('1961-05-13 00:00:00'),
 Timestamp('1961-05-14 00:00:00'),
 Timestamp('1961-05-15 00:00:00'),
 Timestamp('1961-05-16 00:00:00'),
 Timestamp('1961-05-17 00:00:00'),
 Timestamp('1961-05-18 00:00:00'),
 Timestamp('1961-05-19 00:00:00'),
 Timestamp('1961-05-20 00:00:00'),
 Timestamp('1961-05-21 00:00:00'),
 Timestamp('1961-05-22 00:00:00'),
 Timestamp('1961-05-23 00:00:00'),
 Timestamp('1961-05-24 00:00:00'),
 Timestamp('1961-05-25 00:00:00'),
 Timestamp('1961-05-26 00:00:00'),
 Timestamp('1961-05-27 00:00:00'),
 Timestamp('1961-05-28 00:00:00'),
 Timestamp('1961-05-29 00:00:00'),
 Timestamp('1961-05-30 00:00:00'),
 Timestamp('1961-05-31 00:00:00'),
 Timestamp('1961-06-01 00:00:00'),
 Timestamp('1961-06-02 00:00:00'),
 Timestamp('1961-06-03 00:00:00'),
 Timestamp('1961-06-04 00:00:00'),
 Timestamp('1961-06-05 00:00:00'),
 Timestamp('1961-06-06 00:00:00'),
 Timestamp('1961-06-07 00:00:00'),
 Timestamp('1961-06-08 00:00:00'),
 Timestamp('1961-06-09 00:00:00'),
 Timestamp('1961-06-10 00:00:00'),
 Timestamp('1961-06-11 00:00:00'),
 Timestamp('1961-06-12 00:00:00'),
 Timestamp('1961-06-13 00:00:00'),
 Timestamp('1961-06-14 00:00:00'),
 Timestamp('1961-06-15 00:00:00'),
 Timestamp('1961-06-16 00:00:00'),
 Timestamp('1961-06-17 00:00:00'),
 Timestamp('1961-06-18 00:00:00'),
 Timestamp('1961-06-19 00:00:00'),
 Timestamp('1961-06-20 00:00:00'),
 Timestamp('1961-06-21 00:00:00'),
 Timestamp('1961-06-22 00:00:00'),
 Timestamp('1961-06-23 00:00:00'),
 Timestamp('1961-06-24 00:00:00'),
 Timestamp('1961-06-25 00:00:00'),
 Timestamp('1961-06-26 00:00:00'),
 Timestamp('1961-06-27 00:00:00'),
 Timestamp('1961-06-28 00:00:00'),
 Timestamp('1961-06-29 00:00:00'),
 Timestamp('1961-06-30 00:00:00'),
 Timestamp('1961-07-01 00:00:00'),
 Timestamp('1961-07-02 00:00:00'),
 Timestamp('1961-07-03 00:00:00'),
 Timestamp('1961-07-04 00:00:00'),
 Timestamp('1961-07-05 00:00:00'),
 Timestamp('1961-07-06 00:00:00'),
 Timestamp('1961-07-07 00:00:00'),
 Timestamp('1961-07-08 00:00:00'),
 Timestamp('1961-07-09 00:00:00'),
 Timestamp('1961-07-10 00:00:00'),
 Timestamp('1961-07-11 00:00:00'),
 Timestamp('1961-07-12 00:00:00'),
 Timestamp('1961-07-13 00:00:00'),
 Timestamp('1961-07-14 00:00:00'),
 Timestamp('1961-07-15 00:00:00'),
 Timestamp('1961-07-16 00:00:00'),
 Timestamp('1961-07-17 00:00:00'),
 Timestamp('1961-07-18 00:00:00'),
 Timestamp('1961-07-19 00:00:00'),
 Timestamp('1961-07-20 00:00:00'),
 Timestamp('1961-07-21 00:00:00'),
 Timestamp('1961-07-22 00:00:00'),
 Timestamp('1961-07-23 00:00:00'),
 Timestamp('1961-07-24 00:00:00'),
 Timestamp('1961-07-25 00:00:00'),
 Timestamp('1961-07-26 00:00:00'),
 Timestamp('1961-07-27 00:00:00'),
 Timestamp('1961-07-28 00:00:00'),
 Timestamp('1961-07-29 00:00:00'),
 Timestamp('1961-07-30 00:00:00'),
 Timestamp('1961-07-31 00:00:00'),
 Timestamp('1961-08-01 00:00:00'),
 Timestamp('1961-08-02 00:00:00'),
 Timestamp('1961-08-03 00:00:00'),
 Timestamp('1961-08-04 00:00:00'),
 Timestamp('1961-08-05 00:00:00'),
 Timestamp('1961-08-06 00:00:00'),
 Timestamp('1961-08-07 00:00:00'),
 Timestamp('1961-08-08 00:00:00'),
 Timestamp('1961-08-09 00:00:00'),
 Timestamp('1961-08-10 00:00:00'),
 Timestamp('1961-08-11 00:00:00'),
 Timestamp('1961-08-12 00:00:00'),
 Timestamp('1961-08-13 00:00:00'),
 Timestamp('1961-08-14 00:00:00'),
 Timestamp('1961-08-15 00:00:00'),
 Timestamp('1961-08-16 00:00:00'),
 Timestamp('1961-08-17 00:00:00'),
 Timestamp('1961-08-18 00:00:00'),
 Timestamp('1961-08-19 00:00:00'),
 Timestamp('1961-08-20 00:00:00'),
 Timestamp('1961-08-21 00:00:00'),
 Timestamp('1961-08-22 00:00:00'),
 Timestamp('1961-08-23 00:00:00'),
 Timestamp('1961-08-24 00:00:00'),
 Timestamp('1961-08-25 00:00:00'),
 Timestamp('1961-08-26 00:00:00'),
 Timestamp('1961-08-27 00:00:00'),
 Timestamp('1961-08-28 00:00:00'),
 Timestamp('1961-08-29 00:00:00'),
 Timestamp('1961-08-30 00:00:00'),
 Timestamp('1961-08-31 00:00:00'),
 Timestamp('1961-09-01 00:00:00'),
 Timestamp('1961-09-02 00:00:00'),
 Timestamp('1961-09-03 00:00:00'),
 Timestamp('1961-09-04 00:00:00'),
 Timestamp('1961-09-05 00:00:00'),
 Timestamp('1961-09-06 00:00:00'),
 Timestamp('1961-09-07 00:00:00'),
 Timestamp('1961-09-08 00:00:00'),
 Timestamp('1961-09-09 00:00:00'),
 Timestamp('1961-09-10 00:00:00'),
 Timestamp('1961-09-11 00:00:00'),
 Timestamp('1961-09-12 00:00:00'),
 Timestamp('1961-09-13 00:00:00'),
 Timestamp('1961-09-14 00:00:00'),
 Timestamp('1961-09-15 00:00:00'),
 Timestamp('1961-09-16 00:00:00'),
 Timestamp('1961-09-17 00:00:00'),
 Timestamp('1961-09-18 00:00:00'),
 Timestamp('1961-09-19 00:00:00'),
 Timestamp('1961-09-20 00:00:00'),
 Timestamp('1961-09-21 00:00:00'),
 Timestamp('1961-09-22 00:00:00'),
 Timestamp('1961-09-23 00:00:00'),
 Timestamp('1961-09-24 00:00:00'),
 Timestamp('1961-09-25 00:00:00'),
 Timestamp('1961-09-26 00:00:00'),
 Timestamp('1961-09-27 00:00:00'),
 Timestamp('1961-09-28 00:00:00'),
 Timestamp('1961-09-29 00:00:00'),
 Timestamp('1961-09-30 00:00:00'),
 Timestamp('1961-10-01 00:00:00'),
 Timestamp('1961-10-02 00:00:00'),
 Timestamp('1961-10-03 00:00:00'),
 Timestamp('1961-10-04 00:00:00'),
 Timestamp('1961-10-05 00:00:00'),
 Timestamp('1961-10-06 00:00:00'),
 Timestamp('1961-10-07 00:00:00'),
 Timestamp('1961-10-08 00:00:00'),
 Timestamp('1961-10-09 00:00:00'),
 Timestamp('1961-10-10 00:00:00'),
 Timestamp('1961-10-11 00:00:00'),
 Timestamp('1961-10-12 00:00:00'),
 Timestamp('1961-10-13 00:00:00'),
 Timestamp('1961-10-14 00:00:00'),
 Timestamp('1961-10-15 00:00:00'),
 Timestamp('1961-10-16 00:00:00'),
 Timestamp('1961-10-17 00:00:00'),
 Timestamp('1961-10-18 00:00:00'),
 Timestamp('1961-10-19 00:00:00'),
 Timestamp('1961-10-20 00:00:00'),
 Timestamp('1961-10-21 00:00:00'),
 Timestamp('1961-10-22 00:00:00'),
 Timestamp('1961-10-23 00:00:00'),
 Timestamp('1961-10-24 00:00:00'),
 Timestamp('1961-10-25 00:00:00'),
 Timestamp('1961-10-26 00:00:00'),
 Timestamp('1961-10-27 00:00:00'),
 Timestamp('1961-10-28 00:00:00'),
 Timestamp('1961-10-29 00:00:00'),
 Timestamp('1961-10-30 00:00:00'),
 Timestamp('1961-10-31 00:00:00'),
 Timestamp('1961-11-01 00:00:00'),
 Timestamp('1961-11-02 00:00:00'),
 Timestamp('1961-11-03 00:00:00'),
 Timestamp('1961-11-04 00:00:00'),
 Timestamp('1961-11-05 00:00:00'),
 Timestamp('1961-11-06 00:00:00'),
 Timestamp('1961-11-07 00:00:00'),
 Timestamp('1961-11-08 00:00:00'),
 Timestamp('1961-11-09 00:00:00'),
 Timestamp('1961-11-10 00:00:00'),
 Timestamp('1961-11-11 00:00:00'),
 Timestamp('1961-11-12 00:00:00'),
 Timestamp('1961-11-13 00:00:00'),
 Timestamp('1961-11-14 00:00:00'),
 Timestamp('1961-11-15 00:00:00'),
 Timestamp('1961-11-16 00:00:00'),
 Timestamp('1961-11-17 00:00:00'),
 Timestamp('1961-11-18 00:00:00'),
 Timestamp('1961-11-19 00:00:00'),
 Timestamp('1961-11-20 00:00:00'),
 Timestamp('1961-11-21 00:00:00'),
 Timestamp('1961-11-22 00:00:00'),
 Timestamp('1961-11-23 00:00:00'),
 Timestamp('1961-11-24 00:00:00'),
 Timestamp('1961-11-25 00:00:00'),
 Timestamp('1961-11-26 00:00:00'),
 Timestamp('1961-11-27 00:00:00'),
 Timestamp('1961-11-28 00:00:00'),
 Timestamp('1961-11-29 00:00:00'),
 Timestamp('1961-11-30 00:00:00'),
 Timestamp('1961-12-01 00:00:00'),
 Timestamp('1961-12-02 00:00:00'),
 Timestamp('1961-12-03 00:00:00'),
 Timestamp('1961-12-04 00:00:00'),
 Timestamp('1961-12-05 00:00:00'),
 Timestamp('1961-12-06 00:00:00'),
 Timestamp('1961-12-07 00:00:00'),
 Timestamp('1961-12-08 00:00:00'),
 Timestamp('1961-12-09 00:00:00'),
 Timestamp('1961-12-10 00:00:00'),
 Timestamp('1961-12-11 00:00:00'),
 Timestamp('1961-12-12 00:00:00'),
 Timestamp('1961-12-13 00:00:00'),
 Timestamp('1961-12-14 00:00:00'),
 Timestamp('1961-12-15 00:00:00'),
 Timestamp('1961-12-16 00:00:00'),
 Timestamp('1961-12-17 00:00:00'),
 Timestamp('1961-12-18 00:00:00'),
 Timestamp('1961-12-19 00:00:00'),
 Timestamp('1961-12-20 00:00:00'),
 Timestamp('1961-12-21 00:00:00'),
 Timestamp('1961-12-22 00:00:00'),
 Timestamp('1961-12-23 00:00:00'),
 Timestamp('1961-12-24 00:00:00'),
 Timestamp('1961-12-25 00:00:00'),
 Timestamp('1961-12-26 00:00:00'),
 Timestamp('1961-12-27 00:00:00'),
 Timestamp('1961-12-28 00:00:00'),
 Timestamp('1961-12-29 00:00:00'),
 Timestamp('1961-12-30 00:00:00'),
 Timestamp('1961-12-31 00:00:00'),
 Timestamp('1962-01-01 00:00:00'),
 Timestamp('1962-01-02 00:00:00'),
 Timestamp('1962-01-03 00:00:00'),
 Timestamp('1962-01-04 00:00:00'),
 Timestamp('1962-01-05 00:00:00'),
 Timestamp('1962-01-06 00:00:00'),
 Timestamp('1962-01-07 00:00:00'),
 Timestamp('1962-01-08 00:00:00'),
 Timestamp('1962-01-09 00:00:00'),
 Timestamp('1962-01-10 00:00:00'),
 Timestamp('1962-01-11 00:00:00'),
 Timestamp('1962-01-12 00:00:00'),
 Timestamp('1962-01-13 00:00:00'),
 Timestamp('1962-01-14 00:00:00'),
 Timestamp('1962-01-15 00:00:00'),
 Timestamp('1962-01-16 00:00:00'),
 Timestamp('1962-01-17 00:00:00'),
 Timestamp('1962-01-18 00:00:00'),
 Timestamp('1962-01-19 00:00:00'),
 Timestamp('1962-01-20 00:00:00'),
 Timestamp('1962-01-21 00:00:00'),
 Timestamp('1962-01-22 00:00:00'),
 Timestamp('1962-01-23 00:00:00'),
 Timestamp('1962-01-24 00:00:00'),
 Timestamp('1962-01-25 00:00:00'),
 Timestamp('1962-01-26 00:00:00'),
 Timestamp('1962-01-27 00:00:00'),
 Timestamp('1962-01-28 00:00:00'),
 Timestamp('1962-01-29 00:00:00'),
 Timestamp('1962-01-30 00:00:00'),
 Timestamp('1962-01-31 00:00:00'),
 Timestamp('1962-02-01 00:00:00'),
 Timestamp('1962-02-02 00:00:00'),
 Timestamp('1962-02-03 00:00:00'),
 Timestamp('1962-02-04 00:00:00'),
 Timestamp('1962-02-05 00:00:00'),
 Timestamp('1962-02-06 00:00:00'),
 Timestamp('1962-02-07 00:00:00'),
 Timestamp('1962-02-08 00:00:00'),
 Timestamp('1962-02-09 00:00:00'),
 Timestamp('1962-02-10 00:00:00'),
 Timestamp('1962-02-11 00:00:00'),
 Timestamp('1962-02-12 00:00:00'),
 Timestamp('1962-02-13 00:00:00'),
 Timestamp('1962-02-14 00:00:00'),
 Timestamp('1962-02-15 00:00:00'),
 Timestamp('1962-02-16 00:00:00'),
 Timestamp('1962-02-17 00:00:00'),
 Timestamp('1962-02-18 00:00:00'),
 Timestamp('1962-02-19 00:00:00'),
 Timestamp('1962-02-20 00:00:00'),
 Timestamp('1962-02-21 00:00:00'),
 Timestamp('1962-02-22 00:00:00'),
 Timestamp('1962-02-23 00:00:00'),
 Timestamp('1962-02-24 00:00:00'),
 Timestamp('1962-02-25 00:00:00'),
 Timestamp('1962-02-26 00:00:00'),
 Timestamp('1962-02-27 00:00:00'),
 Timestamp('1962-02-28 00:00:00'),
 Timestamp('1962-03-01 00:00:00'),
 Timestamp('1962-03-02 00:00:00'),
 Timestamp('1962-03-03 00:00:00'),
 Timestamp('1962-03-04 00:00:00'),
 Timestamp('1962-03-05 00:00:00'),
 Timestamp('1962-03-06 00:00:00'),
 Timestamp('1962-03-07 00:00:00'),
 Timestamp('1962-03-08 00:00:00'),
 Timestamp('1962-03-09 00:00:00'),
 Timestamp('1962-03-10 00:00:00'),
 Timestamp('1962-03-11 00:00:00'),
 Timestamp('1962-03-12 00:00:00'),
 Timestamp('1962-03-13 00:00:00'),
 Timestamp('1962-03-14 00:00:00'),
 Timestamp('1962-03-15 00:00:00'),
 Timestamp('1962-03-16 00:00:00'),
 Timestamp('1962-03-17 00:00:00'),
 Timestamp('1962-03-18 00:00:00'),
 Timestamp('1962-03-19 00:00:00'),
 Timestamp('1962-03-20 00:00:00'),
 Timestamp('1962-03-21 00:00:00'),
 Timestamp('1962-03-22 00:00:00'),
 Timestamp('1962-03-23 00:00:00'),
 Timestamp('1962-03-24 00:00:00'),
 Timestamp('1962-03-25 00:00:00'),
 Timestamp('1962-03-26 00:00:00'),
 Timestamp('1962-03-27 00:00:00'),
 Timestamp('1962-03-28 00:00:00'),
 Timestamp('1962-03-29 00:00:00'),
 Timestamp('1962-03-30 00:00:00'),
 Timestamp('1962-03-31 00:00:00'),
 Timestamp('1962-04-01 00:00:00'),
 Timestamp('1962-04-02 00:00:00'),
 Timestamp('1962-04-03 00:00:00'),
 Timestamp('1962-04-04 00:00:00'),
 Timestamp('1962-04-05 00:00:00'),
 Timestamp('1962-04-06 00:00:00'),
 Timestamp('1962-04-07 00:00:00'),
 Timestamp('1962-04-08 00:00:00'),
 Timestamp('1962-04-09 00:00:00'),
 Timestamp('1962-04-10 00:00:00'),
 Timestamp('1962-04-11 00:00:00'),
 Timestamp('1962-04-12 00:00:00'),
 Timestamp('1962-04-13 00:00:00'),
 Timestamp('1962-04-14 00:00:00'),
 Timestamp('1962-04-15 00:00:00'),
 Timestamp('1962-04-16 00:00:00'),
 Timestamp('1962-04-17 00:00:00'),
 Timestamp('1962-04-18 00:00:00'),
 Timestamp('1962-04-19 00:00:00'),
 Timestamp('1962-04-20 00:00:00'),
 Timestamp('1962-04-21 00:00:00'),
 Timestamp('1962-04-22 00:00:00'),
 Timestamp('1962-04-23 00:00:00'),
 Timestamp('1962-04-24 00:00:00'),
 Timestamp('1962-04-25 00:00:00'),
 Timestamp('1962-04-26 00:00:00'),
 Timestamp('1962-04-27 00:00:00'),
 Timestamp('1962-04-28 00:00:00'),
 Timestamp('1962-04-29 00:00:00'),
 Timestamp('1962-04-30 00:00:00'),
 Timestamp('1962-05-01 00:00:00'),
 Timestamp('1962-05-02 00:00:00'),
 Timestamp('1962-05-03 00:00:00'),
 Timestamp('1962-05-04 00:00:00'),
 Timestamp('1962-05-05 00:00:00'),
 Timestamp('1962-05-06 00:00:00'),
 Timestamp('1962-05-07 00:00:00'),
 Timestamp('1962-05-08 00:00:00'),
 Timestamp('1962-05-09 00:00:00'),
 Timestamp('1962-05-10 00:00:00'),
 Timestamp('1962-05-11 00:00:00'),
 Timestamp('1962-05-12 00:00:00'),
 Timestamp('1962-05-13 00:00:00'),
 Timestamp('1962-05-14 00:00:00'),
 Timestamp('1962-05-15 00:00:00'),
 Timestamp('1962-05-16 00:00:00'),
 Timestamp('1962-05-17 00:00:00'),
 Timestamp('1962-05-18 00:00:00'),
 Timestamp('1962-05-19 00:00:00'),
 Timestamp('1962-05-20 00:00:00'),
 Timestamp('1962-05-21 00:00:00'),
 Timestamp('1962-05-22 00:00:00'),
 Timestamp('1962-05-23 00:00:00'),
 Timestamp('1962-05-24 00:00:00'),
 Timestamp('1962-05-25 00:00:00'),
 Timestamp('1962-05-26 00:00:00'),
 Timestamp('1962-05-27 00:00:00'),
 Timestamp('1962-05-28 00:00:00'),
 Timestamp('1962-05-29 00:00:00'),
 Timestamp('1962-05-30 00:00:00'),
 Timestamp('1962-05-31 00:00:00'),
 Timestamp('1962-06-01 00:00:00'),
 Timestamp('1962-06-02 00:00:00'),
 Timestamp('1962-06-03 00:00:00'),
 Timestamp('1962-06-04 00:00:00'),
 Timestamp('1962-06-05 00:00:00'),
 Timestamp('1962-06-06 00:00:00'),
 Timestamp('1962-06-07 00:00:00'),
 Timestamp('1962-06-08 00:00:00'),
 Timestamp('1962-06-09 00:00:00'),
 Timestamp('1962-06-10 00:00:00'),
 Timestamp('1962-06-11 00:00:00'),
 Timestamp('1962-06-12 00:00:00'),
 Timestamp('1962-06-13 00:00:00'),
 Timestamp('1962-06-14 00:00:00'),
 Timestamp('1962-06-15 00:00:00'),
 Timestamp('1962-06-16 00:00:00'),
 Timestamp('1962-06-17 00:00:00'),
 Timestamp('1962-06-18 00:00:00'),
 Timestamp('1962-06-19 00:00:00'),
 Timestamp('1962-06-20 00:00:00'),
 Timestamp('1962-06-21 00:00:00'),
 Timestamp('1962-06-22 00:00:00'),
 Timestamp('1962-06-23 00:00:00'),
 Timestamp('1962-06-24 00:00:00'),
 Timestamp('1962-06-25 00:00:00'),
 Timestamp('1962-06-26 00:00:00'),
 Timestamp('1962-06-27 00:00:00'),
 Timestamp('1962-06-28 00:00:00'),
 Timestamp('1962-06-29 00:00:00'),
 Timestamp('1962-06-30 00:00:00'),
 Timestamp('1962-07-01 00:00:00'),
 Timestamp('1962-07-02 00:00:00'),
 Timestamp('1962-07-03 00:00:00'),
 Timestamp('1962-07-04 00:00:00'),
 Timestamp('1962-07-05 00:00:00'),
 Timestamp('1962-07-06 00:00:00'),
 Timestamp('1962-07-07 00:00:00'),
 Timestamp('1962-07-08 00:00:00'),
 Timestamp('1962-07-09 00:00:00'),
 Timestamp('1962-07-10 00:00:00'),
 Timestamp('1962-07-11 00:00:00'),
 Timestamp('1962-07-12 00:00:00'),
 Timestamp('1962-07-13 00:00:00'),
 Timestamp('1962-07-14 00:00:00'),
 Timestamp('1962-07-15 00:00:00'),
 Timestamp('1962-07-16 00:00:00'),
 Timestamp('1962-07-17 00:00:00'),
 Timestamp('1962-07-18 00:00:00'),
 Timestamp('1962-07-19 00:00:00'),
 Timestamp('1962-07-20 00:00:00'),
 Timestamp('1962-07-21 00:00:00'),
 Timestamp('1962-07-22 00:00:00'),
 Timestamp('1962-07-23 00:00:00'),
 Timestamp('1962-07-24 00:00:00'),
 Timestamp('1962-07-25 00:00:00'),

datetime   , str, int       .map()   .        , numpy  . ( .)

In [351]:
display(df.groupby(df['Yr_Mo_Dy'].dt.year).mean())

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,,
1961,1961-07-02 00:00:00,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
1962,1962-07-02 00:00:00,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
1963,1963-07-02 00:00:00,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
1964,1964-07-01 12:00:00,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301
1965,1965-07-02 00:00:00,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644
1966,1966-07-02 00:00:00,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260
1967,1967-07-02 00:00:00,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945
1968,1968-07-01 12:00:00,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486
1969,1969-07-02 00:00:00,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904
1970,1970-07-02 00:00:00,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027
1971,1971-07-02 00:00:00,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233
1972,1972-07-01 12:00:00,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716
1973,1973-07-02 00:00:00,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096
1974,1974-07-02 00:00:00,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671
1975,1975-07-02 00:00:00,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863
1976,1976-07-01 12:00:00,11.737842,10.203115,10.761230,5.109426,8.846339,6.311038,9.149126,7.146202,8.883716,7.883087,12.332377,15.471448
1977,1977-07-02 00:00:00,13.099616,11.144493,12.627836,6.073945,10.003836,8.586438,11.523205,8.378384,9.098192,8.821616,13.459068,16.590849
1978,1978-07-02 00:00:00,12.504356,11.044274,11.380000,6.082356,10.167233,7.650658,9.489342,8.800466,9.089753,8.301699,12.967397,16.771370

datetime    , groupby()  , .dt      .

In [352]:
df['year'] = df['Yr_Mo_Dy'].dt.year
display(df.groupby(['year'])[df.columns.drop('Yr_Mo_Dy')].mean())

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,year
year,,,,,,,,,,,,,
1961,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773,1961.0
1962,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956,1962.0
1963,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014,1963.0
1964,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301,1964.0
1965,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644,1965.0
1966,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260,1966.0
1967,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945,1967.0
1968,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486,1968.0
1969,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904,1969.0
1970,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027,1970.0
1971,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233,1971.0
1972,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716,1972.0
1973,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096,1973.0
1974,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671,1974.0
1975,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863,1975.0
1976,11.737842,10.203115,10.761230,5.109426,8.846339,6.311038,9.149126,7.146202,8.883716,7.883087,12.332377,15.471448,1976.0
1977,13.099616,11.144493,12.627836,6.073945,10.003836,8.586438,11.523205,8.378384,9.098192,8.821616,13.459068,16.590849,1977.0
1978,12.504356,11.044274,11.380000,6.082356,10.167233,7.650658,9.489342,8.800466,9.089753,8.301699,12.967397,16.771370,1978.0

.groupby()    **[df.columns.drop('key-column')]**    ,  method  ,      .

In [353]:
new_df = df['Yr_Mo_Dy'].dt.weekday
# print(new_df)
df.loc[:, 'weekday'] = new_df
display(df)

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,year,weekday
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961,6
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961,0
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961,1
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961,2
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,1978,2
6570,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,1978,3
6571,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,1978,4
6572,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,1978,5
6573,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,1978,6

- .day_name() :      .
- .weekday :      . ('Monday' : 1)
- .day_of_week : .weekday  
- .day_name()  callable  , .weekday    ().

In [354]:
new_df = (df['weekday'] > 4).astype(int)
# print(new_df)
df.loc[:, 'WeekCheck'] = new_df
display(df)

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,year,weekday,WeekCheck
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961,6,1
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961,0,0
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961,1,0
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961,2,0
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,1978,2,0
6570,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,1978,3,0
6571,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,1978,4,0
6572,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,1978,5,1
6573,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,1978,6,1

             .

In [355]:
new_df = df.drop(columns=['year', 'weekday', 'WeekCheck'])
display(new_df.groupby(df['Yr_Mo_Dy'].dt.month)[new_df.columns.drop('Yr_Mo_Dy')].mean())

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1,14.847325,12.914560,13.299624,7.199498,11.667734,8.054839,11.819355,9.512047,9.543208,10.053566,14.550520,18.028763
2,13.710906,12.111122,12.879132,6.942411,11.551772,7.633858,11.206024,9.341437,9.313169,9.518051,13.728898,17.156142
3,13.158687,11.505842,12.648118,7.265907,11.554516,7.959409,11.310179,9.635896,9.700324,10.096953,13.810609,16.909317
4,12.555648,10.429759,12.204815,6.898037,10.677667,7.441389,10.221315,8.909056,8.930870,9.158019,12.664759,14.937611
5,11.724032,10.145619,11.550394,6.307487,10.224301,6.942061,8.797738,8.452903,8.040806,8.524857,12.767258,13.736039
6,10.451317,8.949704,10.361315,5.652278,9.529926,6.410093,8.009556,7.920796,7.639796,7.729185,12.246407,12.861818
7,9.992007,8.357778,9.349642,5.416935,9.302634,5.972348,7.843501,7.262760,7.544480,7.321416,11.676505,12.800789
8,10.213411,8.415143,9.993441,5.270681,8.901559,5.891057,7.772312,6.842025,7.240573,7.002783,11.110090,12.565943
9,11.458519,9.981002,10.756883,5.615176,9.766315,6.566222,8.609722,7.745677,7.610556,7.689278,12.686389,14.761963
10,12.660610,11.010681,11.453943,6.065215,10.550251,7.159910,9.387778,8.726308,8.347181,8.850376,14.155323,16.697151
11,13.200722,11.639500,12.293407,6.247611,10.501130,7.134333,10.814861,8.427167,8.604000,8.943167,13.815741,18.114185
12,14.446398,12.353602,13.212276,6.829910,11.301254,7.963710,11.849050,9.209355,9.447258,9.627670,14.259516,18.697599

**.drop(columns=['column-key', ... ])**   df     . <br>
**.dt.month**          .

In [356]:
# df.isnull().sum()
df.loc[:, :] = df.fillna(method='ffill').fillna(method='bfill')
df.isnull().sum()

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_23268\2252402455.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.loc[:, :] = df.fillna(method='ffill').fillna(method='bfill')

Yr_Mo_Dy     0
RPT          0
VAL          0
ROS          0
KIL          0
SHA          0
BIR          0
DUB          0
CLA          0
MUL          0
CLO          0
BEL          0
MAL          0
year         0
weekday      0
WeekCheck    0
dtype: int64

- .isnull().sum() :     .
- .fillna(method='ffill') :       .
- .fillna(method='bfill') :       .
- , .fillna(method='ffill').fillna(method='bfill')   ,          ,          .

In [357]:
#1    ,  .

years = df['Yr_Mo_Dy'].dt.year
months = df['Yr_Mo_Dy'].dt.month

df.loc[:, 'year'] = years
df.loc[:, 'month'] = months

df.groupby(['year', 'month'])[df.columns.drop(['Yr_Mo_Dy', 'weekday', 'WeekCheck'])].mean()

                  RPT        VAL        ROS       KIL        SHA        BIR  \
year month
1961 1      14.932581  12.084194  13.431613  7.736774  11.215806   8.588065
     2      16.269286  14.975357  14.324643  9.116786  13.852143  10.937500
     3      11.015806  11.296452  10.752903  7.137742  10.509355   8.866774
     4      10.722667   9.427667   9.998000  5.830667   8.435000   6.495000
     5       9.860968   8.735161  10.818065  5.892258   9.490323   6.574839
...               ...        ...        ...       ...        ...        ...
1978 8       9.645161   8.259355   9.032258  4.502903   7.368065   5.935161
     9      10.913667  10.895000  10.635000  5.725000  10.372000   9.278333
     10      9.897742   8.670968   9.295806  4.721290   8.525161   6.774194
     11     16.151667  14.802667  13.508000  7.317333  11.475000   8.743000
     12     16.175484  13.748065  15.635161  7.094839  11.398710   9.241613

                  DUB        CLA        MUL        CLO        BEL        MAL  \
year month
1961 1      11.184839   9.270968   9.085806  10.107419  13.880968  14.703226
     2      11.890714  11.846071  11.821429  12.714286  18.583214  15.411786
     3       9.644194   9.829677  10.646129  11.251935  16.410968  15.637742
     4       6.925333   7.094667   7.342333   7.237000  11.147333  10.278333
     5       7.477097   8.177097   8.039355   8.499355  11.900323  12.011613
...               ...        ...        ...        ...        ...        ...
1978 8       5.650323   5.417742   7.241290   5.536774  10.466774  12.054194
     9      10.790333   9.583000  10.069333   8.939000  15.680333  19.391333
     10      8.115484   7.337742   8.297742   8.243871  13.776774  17.150000
     11     11.492333   9.657333  10.701333  10.676000  17.404667  20.723000
     12     12.077419  10.194839  10.616774  11.028710  13.859677  21.371613

              year  month
year month
1961 1      1961.0    1.0
     2      1961.0    2.0
     3      1961.0    3.0
     4      1961.0    4.0
     5      1961.0    5.0
...            ...    ...
1978 8      1978.0    8.0
     9      1978.0    9.0
     10     1978.0   10.0
     11     1978.0   11.0
     12     1978.0   12.0

[216 rows x 14 columns]

In [358]:
#2. 2  series    .groupby()   ,     .

df.groupby([years, months])[df.columns.drop(['Yr_Mo_Dy', 'weekday', 'WeekCheck', 'year', 'month'])].mean()

                         RPT        VAL        ROS       KIL        SHA  \
Yr_Mo_Dy Yr_Mo_Dy
1961     1         14.932581  12.084194  13.431613  7.736774  11.215806
         2         16.269286  14.975357  14.324643  9.116786  13.852143
         3         11.015806  11.296452  10.752903  7.137742  10.509355
         4         10.722667   9.427667   9.998000  5.830667   8.435000
         5          9.860968   8.735161  10.818065  5.892258   9.490323
...                      ...        ...        ...       ...        ...
1978     8          9.645161   8.259355   9.032258  4.502903   7.368065
         9         10.913667  10.895000  10.635000  5.725000  10.372000
         10         9.897742   8.670968   9.295806  4.721290   8.525161
         11        16.151667  14.802667  13.508000  7.317333  11.475000
         12        16.175484  13.748065  15.635161  7.094839  11.398710

                         BIR        DUB        CLA        MUL        CLO  \
Yr_Mo_Dy Yr_Mo_Dy
1961     1          8.588065  11.184839   9.270968   9.085806  10.107419
         2         10.937500  11.890714  11.846071  11.821429  12.714286
         3          8.866774   9.644194   9.829677  10.646129  11.251935
         4          6.495000   6.925333   7.094667   7.342333   7.237000
         5          6.574839   7.477097   8.177097   8.039355   8.499355
...                      ...        ...        ...        ...        ...
1978     8          5.935161   5.650323   5.417742   7.241290   5.536774
         9          9.278333  10.790333   9.583000  10.069333   8.939000
         10         6.774194   8.115484   7.337742   8.297742   8.243871
         11         8.743000  11.492333   9.657333  10.701333  10.676000
         12         9.241613  12.077419  10.194839  10.616774  11.028710

                         BEL        MAL
Yr_Mo_Dy Yr_Mo_Dy
1961     1         13.880968  14.703226
         2         18.583214  15.411786
         3         16.410968  15.637742
         4         11.147333  10.278333
         5         11.900323  12.011613
...                      ...        ...
1978     8         10.466774  12.054194
         9         15.680333  19.391333
         10        13.776774  17.150000
         11        17.404667  20.723000
         12        13.859677  21.371613

[216 rows x 12 columns]

    ,
1. series  ,     .
2. 2  series    .groupby()    .

In [359]:
exclude_lst = ['Yr_Mo_Dy', 'weekday', 'WeekCheck', 'year', 'month']

# YY-MM     

display(df.groupby(df['Yr_Mo_Dy'].dt.strftime('%Y-%m'))[df.columns.drop(exclude_lst)].mean())

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961-01,14.932581,12.084194,13.431613,7.736774,11.215806,8.588065,11.184839,9.270968,9.085806,10.107419,13.880968,14.703226
1961-02,16.269286,14.975357,14.324643,9.116786,13.852143,10.937500,11.890714,11.846071,11.821429,12.714286,18.583214,15.411786
1961-03,11.015806,11.296452,10.752903,7.137742,10.509355,8.866774,9.644194,9.829677,10.646129,11.251935,16.410968,15.637742
1961-04,10.722667,9.427667,9.998000,5.830667,8.435000,6.495000,6.925333,7.094667,7.342333,7.237000,11.147333,10.278333
1961-05,9.860968,8.735161,10.818065,5.892258,9.490323,6.574839,7.477097,8.177097,8.039355,8.499355,11.900323,12.011613
...,...,...,...,...,...,...,...,...,...,...,...,...
1978-08,9.645161,8.259355,9.032258,4.502903,7.368065,5.935161,5.650323,5.417742,7.241290,5.536774,10.466774,12.054194
1978-09,10.913667,10.895000,10.635000,5.725000,10.372000,9.278333,10.790333,9.583000,10.069333,8.939000,15.680333,19.391333
1978-10,9.897742,8.670968,9.295806,4.721290,8.525161,6.774194,8.115484,7.337742,8.297742,8.243871,13.776774,17.150000
1978-11,16.151667,14.802667,13.508000,7.317333,11.475000,8.743000,11.492333,9.657333,10.701333,10.676000,17.404667,20.723000
1978-12,16.175484,13.748065,15.635161,7.094839,11.398710,9.241613,12.077419,10.194839,10.616774,11.028710,13.859677,21.371613

**.dt.strftime('%Y-%m-%d ...')**          .<br>
(%Y, %y, %m, %d, %H, %M, %S ... )

In [360]:
# RPT   1 .

df.loc[:, 'diff'] = df['RPT'].diff()
display(df)

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,year,weekday,WeekCheck,month,diff
0,1961-01-01,15.04,14.96,13.17,9.29,12.62,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961,6,1,1,NaN
1,1961-01-02,14.71,14.96,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961,0,0,1,-0.33
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,10.04,8.50,7.67,12.75,12.71,1961,1,0,1,3.79
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961,2,0,1,-7.92
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961,3,0,1,2.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,1978,2,0,12,3.75
6570,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,1978,3,0,12,-4.37
6571,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,1978,4,0,12,0.79
6572,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,1978,5,1,12,4.50
6573,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,1978,6,1,12,1.83

   ,         . <br>
      , NaN  .

In [361]:
# RPT, VAL  ,      .

#1      ()

rpt_rol = df['RPT'].rolling(7).mean()
val_rol = df['VAL'].rolling(7).mean()

df.loc[:, 'RPT_rol'] = rpt_rol
df.loc[:, 'VAL_rol'] = val_rol
display(df)

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,year,weekday,WeekCheck,month,diff,RPT_rol,VAL_rol
0,1961-01-01,15.04,14.96,13.17,9.29,12.62,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961,6,1,1,NaN,NaN,NaN
1,1961-01-02,14.71,14.96,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961,0,0,1,-0.33,NaN,NaN
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,10.04,8.50,7.67,12.75,12.71,1961,1,0,1,3.79,NaN,NaN
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961,2,0,1,-7.92,NaN,NaN
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961,3,0,1,2.75,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,1978,2,0,12,3.75,11.868571,9.362857
6570,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,1978,3,0,12,-4.37,11.904286,9.595714
6571,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,1978,4,0,12,0.79,13.017143,10.011429
6572,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,1978,5,1,12,4.50,13.285714,10.118571
6573,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,1978,6,1,12,1.83,14.951429,11.801429

In [362]:
#2 .values  numpy     (  )

df.loc[:, ['RPT_rol', 'VAL_rol']] = df[['RPT', 'VAL']].rolling(7).mean().values
display(df)

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,year,weekday,WeekCheck,month,diff,RPT_rol,VAL_rol
0,1961-01-01,15.04,14.96,13.17,9.29,12.62,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961,6,1,1,NaN,NaN,NaN
1,1961-01-02,14.71,14.96,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961,0,0,1,-0.33,NaN,NaN
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,10.04,8.50,7.67,12.75,12.71,1961,1,0,1,3.79,NaN,NaN
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961,2,0,1,-7.92,NaN,NaN
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961,3,0,1,2.75,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08,1978,2,0,12,3.75,11.868571,9.362857
6570,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,1978,3,0,12,-4.37,11.904286,9.595714
6571,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58,1978,4,0,12,0.79,13.017143,10.011429
6572,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,1978,5,1,12,4.50,13.285714,10.118571
6573,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,1978,6,1,12,1.83,14.951429,11.801429

**.rolling()**    row   , .mean()        .<br>
  , "7  " "" , .rolling(7).mean()   .

In [374]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/seoul_pm.csv'
df = pd.read_csv(DataUrl)
display(df)
df.info()

,(--:),PM10,PM10,PM2.5,PM2.5,,,,,,,,
0,2021-05-15:15,,47.0,,19.0,,0.017,,0.023,,0.4,,0.003
1,2021-05-15:14,,43.0,,20.0,,0.024,,0.019,,0.3,,0.003
2,2021-05-15:13,,34.0,,24.0,,0.035,,0.017,,0.4,,0.004
3,2021-05-15:12,,41.0,,27.0,,0.037,,0.020,,0.4,,0.004
4,2021-05-15:11,,51.0,,34.0,,0.033,,0.023,,0.4,,0.005
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,2021-03-25:05,,39.0,,18.0,,0.026,,0.025,,0.4,,0.003
1235,2021-03-25:04,,34.0,,15.0,,0.017,,0.033,,0.4,,0.002
1236,2021-03-25:03,,35.0,,13.0,,0.029,,0.025,,0.4,,0.003
1237,2021-03-25:02,,35.0,,13.0,,0.031,,0.025,,0.3,,0.003
1238,2021-03-25:01,,42.0,,13.0,,0.022,,0.037,,0.4,,0.003

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1239 entries, 0 to 1238
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   (--:)  1239 non-null   object
 1   PM10     1233 non-null   object
 2   PM10       1233 non-null   float64
 3   PM2.5    1232 non-null   object
 4   PM2.5      1232 non-null   float64
 5          1232 non-null   object
 6            1232 non-null   float64
 7       1232 non-null   object
 8         1232 non-null   float64
 9       1232 non-null   object
 10        1232 non-null   float64
 11      1232 non-null   object
 12        1232 non-null   float64
dtypes: float64(6), object(7)
memory usage: 126.0+ KB

In [375]:
# 
# sequence     0   . 
#      '0 - len(sequence)'   .
# ,     3  step .

import datetime

df = df.rename(columns={ '(--:)': 'date'})

def func(date):
    date_str = str(date)
    if date_str[-2:] != '24':
        date_str = date_str.replace(':', ' ') #  replace     ,       .
        date = pd.to_datetime(date_str)
        
    else:
        ymd = date_str.split(':')[0]
        date = pd.to_datetime(ymd) + datetime.timedelta(days=1)
        
    return date


new_df = df['date'].map(func)
df['date'] = pd.to_datetime(new_df)
display(df)

,date,PM10,PM10,PM2.5,PM2.5,,,,,,,,
0,2021-05-15 15:00:00,,47.0,,19.0,,0.017,,0.023,,0.4,,0.003
1,2021-05-15 14:00:00,,43.0,,20.0,,0.024,,0.019,,0.3,,0.003
2,2021-05-15 13:00:00,,34.0,,24.0,,0.035,,0.017,,0.4,,0.004
3,2021-05-15 12:00:00,,41.0,,27.0,,0.037,,0.020,,0.4,,0.004
4,2021-05-15 11:00:00,,51.0,,34.0,,0.033,,0.023,,0.4,,0.005
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,2021-03-25 05:00:00,,39.0,,18.0,,0.026,,0.025,,0.4,,0.003
1235,2021-03-25 04:00:00,,34.0,,15.0,,0.017,,0.033,,0.4,,0.002
1236,2021-03-25 03:00:00,,35.0,,13.0,,0.029,,0.025,,0.4,,0.003
1237,2021-03-25 02:00:00,,35.0,,13.0,,0.031,,0.025,,0.3,,0.003
1238,2021-03-25 01:00:00,,42.0,,13.0,,0.022,,0.037,,0.4,,0.003

-   , .map()   custom function   .
-     .
- **python datetime **    . **datetime.timedelta **     ,      ,     .

In [380]:
lst = ['', '', '', '', '', '', '']

new_df = df['date'].dt.day_of_week.map(lambda x: lst[x])
df.loc[:, 'dayName'] = new_df
display(df)

,date,PM10,PM10,PM2.5,PM2.5,,,,,,,,,dayName
0,2021-05-15 15:00:00,,47.0,,19.0,,0.017,,0.023,,0.4,,0.003,
1,2021-05-15 14:00:00,,43.0,,20.0,,0.024,,0.019,,0.3,,0.003,
2,2021-05-15 13:00:00,,34.0,,24.0,,0.035,,0.017,,0.4,,0.004,
3,2021-05-15 12:00:00,,41.0,,27.0,,0.037,,0.020,,0.4,,0.004,
4,2021-05-15 11:00:00,,51.0,,34.0,,0.033,,0.023,,0.4,,0.005,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,2021-03-25 05:00:00,,39.0,,18.0,,0.026,,0.025,,0.4,,0.003,
1235,2021-03-25 04:00:00,,34.0,,15.0,,0.017,,0.033,,0.4,,0.002,
1236,2021-03-25 03:00:00,,35.0,,13.0,,0.029,,0.025,,0.4,,0.003,
1237,2021-03-25 02:00:00,,35.0,,13.0,,0.031,,0.025,,0.3,,0.003,
1238,2021-03-25 01:00:00,,42.0,,13.0,,0.022,,0.037,,0.4,,0.003,

lst  dict     ,  dict          . (    )

In [381]:
new_df = df['date'].dt.day_name()
print(new_df)

0       Saturday
1       Saturday
2       Saturday
3       Saturday
4       Saturday
          ...
1234    Thursday
1235    Thursday
1236    Thursday
1237    Thursday
1238    Thursday
Name: date, Length: 1239, dtype: object

  , .day_name()   .

In [403]:
dates = df['date'].dt.date
pm10grade = df['PM10']
# print(dates)
# print(pm10grade)
display(df[['date', 'PM10']].groupby([dates, 'PM10'], as_index=False).size())

           date PM10  size
0    2021-03-25         11
1    2021-03-25         12
2    2021-03-26         21
3    2021-03-26        3
4    2021-03-27         13
..          ...    ...   ...
103  2021-05-13          1
104  2021-05-14          2
105  2021-05-14         22
106  2021-05-15          8
107  2021-05-15          8

[108 rows x 3 columns]

.groupby()   **as_index=False**   df  ,      .

In [409]:
display(df[['date', 'PM10']].groupby([dates, pm10grade]).size().unstack().fillna(0).astype(int))

PM10
date
2021-03-25  11     0  12   0
2021-03-26  21     3   0   0
2021-03-27  13     0   9   2
2021-03-28   0     0   2  22
2021-03-29   1    21   1   1
2021-03-30   3    10  11   0
2021-03-31   0     0  24   0
2021-04-01   0     0  24   0
2021-04-02   0     0  24   0
2021-04-03   0     0  14  10
2021-04-04   0     0   0  24
2021-04-05   0     0   1  23
2021-04-06   0     0  17   7
2021-04-07   7     0  13   4
2021-04-08   0     0  20   4
2021-04-09   0     0  22   2
2021-04-10   0     0  14  10
2021-04-11   0     0  24   0
2021-04-12   0     0  18   6
2021-04-13   0     0   0  24
2021-04-14   0     0  11  13
2021-04-15   0     0  24   0
2021-04-16   3     3  15   1
2021-04-17  10     3  11   0
2021-04-18   0     0  15   9
2021-04-19   0     0  24   0
2021-04-20  10     0  14   0
2021-04-21  12     0  12   0
2021-04-22  13     0  11   0
2021-04-23   0     0  18   6
2021-04-24   0     0   3  21
2021-04-25   0     0   7  17
2021-04-26   0     0  13  11
2021-04-27   0     0  14  10
2021-04-28   6     0  16   1
2021-04-29  11     0  13   0
2021-04-30   3     0   8  12
2021-05-01   0     0  12  11
2021-05-02   0     0   0  24
2021-05-03   0     0  21   3
2021-05-04   0     0  14  10
2021-05-05   1     0  13  10
2021-05-06   6     0  18   0
2021-05-07   2    11  11   0
2021-05-08   0    24   0   0
2021-05-09   2     1  19   2
2021-05-10   0     0   5  19
2021-05-11   0     0   1  23
2021-05-12   0     0   6  18
2021-05-13   0     0  22   1
2021-05-14   2     0  22   0
2021-05-15   8     0   8   0

as_index=False  , **.unstack()** .fillna()   , pivot   df   .
- .unstack() : .groupby()          (pivot)
- .fillna() :     .
- .astype() :      . (  int)

In [423]:
#      .
print('  : ', end="")
print(df['date'].diff().isnull().sum())
print('    :')
print(df['date'].diff().dropna().unique())

  : 1
    :
<TimedeltaArray>
['-1 days +23:00:00']
Length: 1, dtype: timedelta64[ns]

Q.  1  ?
1.  . -> .diff()  .     . ( default=1)
2.  . -> .dropna() .          
3.   . -> .unique() .     '1'    .

In [ ]:
am10 = df['date'].dt.hour == 10
pm10 = df['date'].dt.hour == 22

print('(am10): ', end="")
print(df[am10]['PM10'].mean())
print('(pm10): ', end="")
print(df[pm10]['PM10'].mean())

(am10): 70.38461538461539
(pm10): 69.94117647058823

   ,     .

In [440]:
df = df.set_index('date')
display(df)

,PM10,PM10,PM2.5,PM2.5,,,,,,,,,dayName
date,,,,,,,,,,,,,
2021-05-15 15:00:00,,47.0,,19.0,,0.017,,0.023,,0.4,,0.003,
2021-05-15 14:00:00,,43.0,,20.0,,0.024,,0.019,,0.3,,0.003,
2021-05-15 13:00:00,,34.0,,24.0,,0.035,,0.017,,0.4,,0.004,
2021-05-15 12:00:00,,41.0,,27.0,,0.037,,0.020,,0.4,,0.004,
2021-05-15 11:00:00,,51.0,,34.0,,0.033,,0.023,,0.4,,0.005,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-25 05:00:00,,39.0,,18.0,,0.026,,0.025,,0.4,,0.003,
2021-03-25 04:00:00,,34.0,,15.0,,0.017,,0.033,,0.4,,0.002,
2021-03-25 03:00:00,,35.0,,13.0,,0.029,,0.025,,0.4,,0.003,
2021-03-25 02:00:00,,35.0,,13.0,,0.031,,0.025,,0.3,,0.003,
2021-03-25 01:00:00,,42.0,,13.0,,0.022,,0.037,,0.4,,0.003,

**.set_index()**     index   .

In [ ]:
#    , , ,  .

numeric_cols = df.select_dtypes(include=['float64']).columns
df[numeric_cols].resample('W').agg(['mean', 'max', 'min', 'std'])

                  PM10                                PM2.5              \
                  mean     max   min         std       mean    max  min
date
2021-03-28   72.747368   160.0   6.0   43.345462  44.705263  113.0  4.0
2021-04-04   97.148810   598.0   3.0  129.911976  23.168675  120.0  1.0
2021-04-11   41.059524   102.0  17.0   16.325911  21.761905   70.0  7.0
2021-04-18   48.180723   367.0   3.0   43.254468  17.066265   38.0  2.0
2021-04-25   55.119048   126.0  17.0   26.659936  26.392857   61.0  7.0
2021-05-02   40.612121    97.0   3.0   24.813103  16.644578   43.0  1.0
2021-05-09  161.660714  1024.0   8.0  239.679148  34.738095  172.0  3.0
2021-05-16   40.014815   111.0  16.0   21.876855  21.577778   76.0  7.0

                                      ...                        \
                  std      mean    max  ...    min       std      mean  max
date                                    ...
2021-03-28  29.551928  0.023516  0.085  ...  0.008  0.023722  0.611579  1.4
2021-04-04  22.399578  0.027256  0.055  ...  0.006  0.014978  0.445833  0.9
2021-04-11  11.479343  0.039375  0.070  ...  0.008  0.009562  0.389286  0.7
2021-04-18   7.867952  0.030398  0.070  ...  0.006  0.013553  0.386747  0.6
2021-04-25  13.094788  0.044780  0.090  ...  0.007  0.014640  0.457143  0.8
2021-05-02   8.850965  0.036970  0.064  ...  0.005  0.011676  0.392771  0.6
2021-05-09  39.788248  0.031614  0.073  ...  0.005  0.012371  0.419277  1.0
2021-05-16  15.622633  0.033096  0.123  ...  0.011  0.009503  0.440741  0.8


            min       std      mean    max    min       std
date
2021-03-28  0.3  0.232408  0.003274  0.006  0.002  0.000961
2021-04-04  0.3  0.135741  0.002732  0.004  0.002  0.000541
2021-04-11  0.3  0.087573  0.002744  0.004  0.002  0.000569
2021-04-18  0.3  0.084954  0.002464  0.004  0.002  0.000579
2021-04-25  0.3  0.122142  0.003631  0.011  0.001  0.001763
2021-05-02  0.3  0.092485  0.002524  0.006  0.001  0.000768
2021-05-09  0.3  0.103230  0.002771  0.004  0.002  0.000579
2021-05-16  0.3  0.094075  0.002459  0.006  0.001  0.001696

[8 rows x 24 columns]

index  datetime df  **.resample()**    .<br>
  df  .agg()  (mean), (max), (min), (std) .

In [469]:
Dataurl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/under5MortalityRate.csv'
df = pd.read_csv(Dataurl)

In [452]:
display(df)

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Both sexes,60.27 [47.44-74.62]
1,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Male,63.83 [50.04-79.16]
2,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Female,56.57 [44.54-70.18]
3,Afghanistan,2018,Under-five mortality rate (probability of dyin...,Both sexes,62.54 [50.64-75.41]
4,Afghanistan,2018,Under-five mortality rate (probability of dyin...,Male,66.08 [53.41-79.76]
...,...,...,...,...,...
29994,Timor-Leste,2002,Under-five mortality rate (probability of dyin...,Both sexes,96.97 [87.36-107.7]
29995,Timor-Leste,2002,Under-five mortality rate (probability of dyin...,Male,102.6 [92.14-114]
29996,Timor-Leste,2002,Under-five mortality rate (probability of dyin...,Female,91.04 [81.92-101.5]
29997,Timor-Leste,2001,Under-five mortality rate (probability of dyin...,Both sexes,102.5 [92.72-113.3]
29998,Timor-Leste,2001,Under-five mortality rate (probability of dyin...,Male,108.2 [97.57-120]

In [453]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       29999 non-null  object
 1   Period         29999 non-null  int64
 2   Indicator      29999 non-null  object
 3   Dim1           29999 non-null  object
 4   First Tooltip  29999 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.1+ MB

In [ ]:
# Indicator  , First Tooltip    .

#1 .map()  custom   .

df2 = df.drop(columns=['Indicator'])

def func(data):
    data = str(data).split()[0]    
    return data

new_df = df2['First Tooltip'].map(func).astype(float)

df2.loc[:, 'First Tooltip'] = new_df
display(df2)

          Location  Period        Dim1 First Tooltip
0      Afghanistan    2019  Both sexes         60.27
1      Afghanistan    2019        Male         63.83
2      Afghanistan    2019      Female         56.57
3      Afghanistan    2018  Both sexes         62.54
4      Afghanistan    2018        Male         66.08
...            ...     ...         ...           ...
29994  Timor-Leste    2002  Both sexes         96.97
29995  Timor-Leste    2002        Male         102.6
29996  Timor-Leste    2002      Female         91.04
29997  Timor-Leste    2001  Both sexes         102.5
29998  Timor-Leste    2001        Male         108.2

[29999 rows x 4 columns]

In [474]:
#2 .str   pandas  

df2 = df.drop(columns=['Indicator'])

new_df = df2['First Tooltip'].str.split().str[0].astype(float)

df2.loc[:, 'First Tooltip'] = new_df
display(df2)

          Location  Period        Dim1 First Tooltip
0      Afghanistan    2019  Both sexes         60.27
1      Afghanistan    2019        Male         63.83
2      Afghanistan    2019      Female         56.57
3      Afghanistan    2018  Both sexes         62.54
4      Afghanistan    2018        Male         66.08
...            ...     ...         ...           ...
29994  Timor-Leste    2002  Both sexes         96.97
29995  Timor-Leste    2002        Male         102.6
29996  Timor-Leste    2002      Female         91.04
29997  Timor-Leste    2001  Both sexes         102.5
29998  Timor-Leste    2001        Male         108.2

[29999 rows x 4 columns]

    .  .map()      ...

In [477]:
filter1 = df2['Period'] >= 2015
filter2 = df2['Dim1'] == "Both sexes"

display(df2[filter1 & filter2])

          Location  Period        Dim1 First Tooltip
0      Afghanistan    2019  Both sexes         60.27
3      Afghanistan    2018  Both sexes         62.54
6      Afghanistan    2017  Both sexes         64.94
9      Afghanistan    2016  Both sexes         67.57
12     Afghanistan    2015  Both sexes         70.44
...            ...     ...         ...           ...
29943  Timor-Leste    2019  Both sexes         44.22
29946  Timor-Leste    2018  Both sexes         45.62
29949  Timor-Leste    2017  Both sexes         47.27
29952  Timor-Leste    2016  Both sexes         49.01
29955  Timor-Leste    2015  Both sexes         50.76

[860 rows x 4 columns]

In [486]:
df3 = df2[filter1 & filter2].copy()
df3[['Location', 'Period', 'First Tooltip']].groupby(['Location', 'Period']).mean().unstack()

                                          First Tooltip                       \
Period                                             2015   2016   2017   2018
Location
Afghanistan                                       70.44  67.57  64.94  62.54
Albania                                            9.57   9.42   9.42   9.53
Algeria                                           25.18  24.79  24.32  23.81
Andorra                                            3.53   3.37   3.22   3.09
Angola                                             88.2  84.21  80.62  77.67
...                                                 ...    ...    ...    ...
Syrian Arab Republic                              23.18  23.27  22.97  22.11
Tajikistan                                        37.75  36.82  35.81   34.8
Thailand                                           10.8  10.32   9.86   9.42
The former Yugoslav Republic of Macedonia         12.97  11.97   9.94   7.83
Timor-Leste                                       50.76  49.01  47.27  45.62


Period                                      2019
Location
Afghanistan                                60.27
Albania                                     9.68
Algeria                                    23.26
Andorra                                     2.97
Angola                                     74.69
...                                          ...
Syrian Arab Republic                       21.53
Tajikistan                                 33.78
Thailand                                    9.01
The former Yugoslav Republic of Macedonia   6.12
Timor-Leste                                44.22

[172 rows x 5 columns]

    .groupby() , .unstack()  pivot  .

In [489]:
df3[['Dim1', 'Period', 'First Tooltip']].groupby(['Dim1', 'Period']).mean().unstack()

           First Tooltip
Period              2015       2016       2017       2018       2019
Dim1
Both sexes     31.012093  29.956337  29.030465  28.083837  27.191744

      pivot  .

In [490]:
dataUrl ='https://raw.githubusercontent.com/Datamanim/pandas/main/winter.csv'
df = pd.read_csv(dataUrl)

In [491]:
display(df)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, Andr",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold
...,...,...,...,...,...,...,...,...,...
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze

In [492]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5770 entries, 0 to 5769
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        5770 non-null   int64
 1   City        5770 non-null   object
 2   Sport       5770 non-null   object
 3   Discipline  5770 non-null   object
 4   Athlete     5770 non-null   object
 5   Country     5770 non-null   object
 6   Gender      5770 non-null   object
 7   Event       5770 non-null   object
 8   Medal       5770 non-null   object
dtypes: int64(1), object(8)
memory usage: 405.8+ KB

In [509]:
# df['Country'].unique()

filter = df['Country'] == 'KOR'
k_df = df[filter].reset_index(drop=True)
display(k_df)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1992,Albertville,Skating,Short Track Speed Skating,"LEE, Jun-Ho",KOR,Men,1000M,Bronze
1,1992,Albertville,Skating,Short Track Speed Skating,"KIM, Ki-Hoon",KOR,Men,1000M,Gold
2,1992,Albertville,Skating,Short Track Speed Skating,"KIM, Ki-Hoon",KOR,Men,5000M Relay,Gold
3,1992,Albertville,Skating,Short Track Speed Skating,"LEE, Jun-Ho",KOR,Men,5000M Relay,Gold
4,1992,Albertville,Skating,Short Track Speed Skating,"MO, Ji-Soo",KOR,Men,5000M Relay,Gold
...,...,...,...,...,...,...,...,...,...
82,2014,Sochi,Skating,Short Track Speed Skating,"PARK, Seung-Hi",KOR,Women,500M,Bronze
83,2014,Sochi,Skating,Speed skating,"JOO, Hyong Jun",KOR,Men,Team Pursuit,Silver
84,2014,Sochi,Skating,Speed skating,"KIM, Cheol Min",KOR,Men,Team Pursuit,Silver
85,2014,Sochi,Skating,Speed skating,"LEE, Seung Hoon",KOR,Men,Team Pursuit,Silver
86,2014,Sochi,Skating,Speed skating,"LEE, Sang Hwa",KOR,Women,500M,Gold

   ( ) .reset_index(drop=True)   .

In [504]:
new_df = k_df[['Year', 'Medal']].groupby(['Year']).size()
display(new_df)

Year
1992     7
1994    10
1998    12
2002     7
2006    19
2010    18
2014    14
dtype: int64

     , .value_counts()   .size()    .

In [512]:
k_df['Sport'].unique()

array(['Skating'], dtype=object)

In [517]:
new_df = df[['Sport', 'Gender']].groupby('Sport').value_counts().unstack().fillna(0)
display(new_df)

Gender       Men  Women
Sport
Biathlon     270    150
Bobsleigh    416     36
Curling       97     75
Ice Hockey  1231    305
Luge         135     45
Skating      665    564
Skiing      1130    651

   ,  .

In [524]:
new_df = df[['Discipline', 'Medal']].groupby('Discipline').value_counts().unstack().fillna(0)
display(new_df)

Medal                      Bronze  Gold  Silver
Discipline
Alpine Skiing                 141   143     144
Biathlon                      139   140     141
Bobsleigh                     147   134     141
Cross Country Skiing          263   264     262
Curling                        56    58      58
Figure skating                118   122     119
Freestyle Skiing               34    34      34
Ice Hockey                    512   510     514
Luge                           60    62      58
Nordic Combined                55    55      55
Short Track Speed Skating      96    97      97
Skeleton                       10    10      10
Ski Jumping                    68    69      70
Snowboard                      30    30      30
Speed skating                 190   193     197

   .