In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/refs/heads/master/krdatacertificate/s1.csv')
display(df.head(10))
df.info()

   Resistin  Classification
0   7.99585               1
1   4.06405               1
2   9.27715               1
3  12.76600               1
4  10.57635               1
5  10.31760               1
6  12.93610               1
7   5.10420               1
8   6.28445               1
9   7.09130               1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Resistin        116 non-null    float64
 1   Classification  116 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 1.9 KB

In [2]:
cls_1 = df[df['Classification'] == 1]['Resistin']
cls_2 = df[df['Classification'] == 2]['Resistin']
# print(cls_1)
print(cls_2)

52     23.03408
53     28.03230
54     23.11770
55     12.06534
56     17.37615
         ...
111    10.96000
112     7.32000
113    10.33000
114     3.27000
115     4.35000
Name: Resistin, Length: 64, dtype: float64

In [3]:
df[df['Classification'] == 2]

     Resistin  Classification
52   23.03408               2
53   28.03230               2
54   23.11770               2
55   12.06534               2
56   17.37615               2
..        ...             ...
111  10.96000               2
112   7.32000               2
113  10.33000               2
114   3.27000               2
115   4.35000               2

[64 rows x 2 columns]

In [4]:
print(df['Classification'].unique())

[1 2]

In [5]:
# f 검정 통계량 구하기

var1 = cls_1.var()
var2 = cls_2.var()

print(var1, var2)
print("---------------------------------")

dof_1 = len(cls_1) - 1
dof_2 = len(cls_2) - 1

print(dof_1, dof_2)
print("---------------------------------")

f_stat = var2/var1
print(round(f_stat, 3))
print("---------------------------------")

131.0350234916152 159.69324142549036
---------------------------------
51 63
---------------------------------
1.219
---------------------------------

In [ ]:
# 합동 분산 추정량 구하기

pooled_var = (var1 * dof_1 + var2 * dof_2) / (dof_1 + dof_2)

print(round(pooled_var, 3))
print("---------------------------------")

146.872

In [8]:
# t 검정 수행

import numpy as np
from scipy import stats

n1 = len(cls_1)
n2 = len(cls_2)

mean1 = cls_1.mean()
mean2 = cls_2.mean()

t_stat = (mean1 - mean2) / np.sqrt(pooled_var * (1/n1 + 1/n2))
p_value = 2*(1-stats.t.cdf(abs(t_stat), df=n1+n2-2))

print(round(p_value, 3))
print("---------------------------------")

0.014
---------------------------------

In [9]:
ttest_result = stats.ttest_ind(cls_1, cls_2, equal_var=True)
print(ttest_result)
print("---------------------------------")

TtestResult(statistic=np.float64(-2.4922510118205365), pvalue=np.float64(0.014131367228310961), df=np.float64(114.0))
---------------------------------