In [19]:
import pandas as pd

# Q. 학생의 성적 G3를 예측하라.

x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/studentscore/X_test.csv")


display(x_train.head())
display(y_train.head())

,StudentID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,1714,GP,F,18,U,GT3,T,4,3,other,...,no,4,3,3,1,1,3,0,14,13
1,1254,GP,F,17,U,GT3,T,4,3,health,...,yes,4,4,3,1,3,4,0,13,15
2,1639,GP,F,16,R,GT3,T,4,4,health,...,no,2,4,4,2,3,4,6,10,11
3,1118,GP,M,16,U,GT3,T,4,4,services,...,no,5,3,3,1,3,5,0,15,13
4,1499,GP,M,19,U,GT3,T,3,2,services,...,yes,4,5,4,1,1,4,0,5,0

   StudentID  G3
0       1714  14
1       1254  15
2       1639  11
3       1118  13
4       1499   0

In [20]:
x_train.info()
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StudentID   678 non-null    int64
 1   school      678 non-null    object
 2   sex         678 non-null    object
 3   age         678 non-null    int64
 4   address     678 non-null    object
 5   famsize     678 non-null    object
 6   Pstatus     678 non-null    object
 7   Medu        678 non-null    int64
 8   Fedu        678 non-null    int64
 9   Mjob        678 non-null    object
 10  Fjob        678 non-null    object
 11  reason      678 non-null    object
 12  guardian    678 non-null    object
 13  traveltime  678 non-null    int64
 14  studytime   678 non-null    int64
 15  failures    678 non-null    int64
 16  schoolsup   678 non-null    object
 17  famsup      678 non-null    object
 18  paid        678 non-null    object
 19  activities  678 non-null    object
 20  nursery     678 non-null    object
 21  higher      678 non-null    object
 22  internet    678 non-null    object
 23  romantic    678 non-null    object
 24  famrel      678 non-null    int64
 25  freetime    678 non-null    int64
 26  goout       678 non-null    int64
 27  Dalc        678 non-null    int64
 28  Walc        678 non-null    int64
 29  health      678 non-null    int64
 30  absences    678 non-null    int64
 31  G1          678 non-null    int64
 32  G2          678 non-null    int64
dtypes: int64(16), object(17)
memory usage: 174.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   StudentID  678 non-null    int64
 1   G3         678 non-null    int64
dtypes: int64(2)
memory usage: 10.7 KB

In [21]:
# student id 컬럼을 제거한다.
x_train = x_train.drop(columns=['StudentID'])
x_test = x_test.drop(columns=['StudentID'])
y_train = y_train.drop(columns=['StudentID'])

In [22]:
print(x_train)
print(y_train)
print(x_test)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       T     4     3     other     other
1       GP   F   17       U     GT3       T     4     3    health     other
2       GP   F   16       R     GT3       T     4     4    health   teacher
3       GP   M   16       U     GT3       T     4     4  services  services
4       GP   M   19       U     GT3       T     3     2  services   at_home
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
673     GP   M   15       U     GT3       T     4     4  services     other
674     GP   M   15       R     GT3       T     4     4     other     other
675     GP   M   17       U     LE3       T     4     4     other   teacher
676     MS   M   17       R     GT3       T     1     1     other  services
677     GP   F   17       U     GT3       T     3     2    health    health

     ... romantic famrel  freetime  goout  Dalc Walc health absences  G1  G2
0    ...       no      4         3      3     1    1      3        0  14  13
1    ...      yes      4         4      3     1    3      4        0  13  15
2    ...       no      2         4      4     2    3      4        6  10  11
3    ...       no      5         3      3     1    3      5        0  15  13
4    ...      yes      4         5      4     1    1      4        0   5   0
..   ...      ...    ...       ...    ...   ...  ...    ...      ...  ..  ..
673  ...       no      5         3      3     1    1      5        4  10  13
674  ...      yes      1         3      5     3    5      1        8  12  10
675  ...       no      4         1      1     2    2      5        0  12  13
676  ...      yes      4         5      5     1    3      2        0  10   9
677  ...       no      5         2      2     1    2      5        0  18  18

[678 rows x 32 columns]
     G3
0    14
1    15
2    11
3    13
4     0
..   ..
673  14
674  11
675  13
676  10
677  18

[678 rows x 1 columns]
    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   16       U     GT3       T     4     2  services     other
1       GP   M   19       U     GT3       T     1     2     other  services
2       GP   F   16       U     GT3       T     4     4  services  services
3       GP   F   16       U     GT3       T     3     1  services     other
4       GP   F   15       U     LE3       A     3     4     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
361     GP   F   15       R     LE3       T     3     1     other     other
362     GP   M   17       U     GT3       T     3     3  services  services
363     GP   F   16       U     GT3       T     2     3  services   teacher
364     MS   F   16       U     GT3       T     3     1     other     other
365     MS   M   18       U     GT3       T     4     4   teacher   teacher

     ... romantic famrel  freetime  goout  Dalc Walc health absences  G1  G2
0    ...       no      4         2      3     1    1      5        2  15  16
1    ...       no      4         5      2     2    2      4        3  13  11
2    ...       no      3         2      3     1    2      2        6  13  14
3    ...       no      4         3      3     1    2      5        4   7   7
4    ...      yes      5         3      2     1    1      1        0  10  11
..   ...      ...    ...       ...    ...   ...  ...    ...      ...  ..  ..
361  ...       no      4         4      2     2    3      3        6  15  15
362  ...      yes      4         3      4     2    3      4       12  12  12
363  ...       no      2         3      1     1    1      3        2  16  16
364  ...       no      3         1      3     1    3      1        0   8   6
365  ...       no      3         2      4     1    4      2        4  15  14

[366 rows x 32 columns]

In [23]:
# 훈련 데이터(x_train)만 사용하여 통계량을 전달하기 위한 시리얼 생성.
number_columns = x_train.select_dtypes(include=['number']).columns.to_list()
category_columns = x_train.select_dtypes(exclude=['number']).columns.to_list()

# 수치형 자료에 대해서는 중앙값인 median를 사용
train_median = x_train[number_columns].median()
# 범주형 자료에 대해서는 최빈값인 mode를 사용
train_mode = x_train[category_columns].mode().iloc[0]

print(train_median)
print(train_mode)

# 평균값(mean)은 이상치에 민감하기 때문에, median과 mode를 사용하는 것이 보편적이다.

age           17.0
Medu           3.0
Fedu           2.0
traveltime     1.0
studytime      2.0
failures       0.0
famrel         4.0
freetime       3.0
goout          3.0
Dalc           1.0
Walc           2.0
health         4.0
absences       2.0
G1            11.0
G2            11.0
dtype: float64
school            GP
sex                F
address            U
famsize          GT3
Pstatus            T
Mjob           other
Fjob           other
reason        course
guardian      mother
schoolsup         no
famsup           yes
paid              no
activities        no
nursery          yes
higher           yes
internet         yes
romantic          no
Name: 0, dtype: object

In [24]:
# 학습 데이터의 통계량을 이용해서 모든 데이터셋의 결측치를 대치함.
x_train[number_columns] = x_train[number_columns].fillna(train_median)
x_train[category_columns] = x_train[category_columns].fillna(train_mode)

# 테스트 데이터에도 동일한 작업을 수행해준다.
x_test[number_columns] = x_test[number_columns].fillna(train_median)
x_test[category_columns] = x_test[category_columns].fillna(train_mode)

In [25]:
# 수치형 데이터에 대해서 스케일링을 수행한다.
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

x_train[number_columns] = scaler.fit_transform(x_train[number_columns])
x_test[number_columns] = scaler.transform(x_test[number_columns])

### 원 핫 인코더 사용시,
```python
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(handle_unknown = 'ignore', sparse_output = False)

x_train_encoded = ohe.fit_transform(x_train)
x_test_encoded = ohe.transform(x_test)
```

In [26]:
# 범주형 데이터에 대해서 라벨 인코딩을 수행한다.
from sklearn.preprocessing import LabelEncoder

# 각 범주형 컬럼에 대해 반복문으로 LabelEncoder 적용, 컬럼을 하나씩 인코딩합니다.
for col in category_columns:
    # LabelEncoder 객체 생성
    ## 인코더 객체가 한 번에 하나의 컬럼만 처리하도록 설계되어 있으므로, 초기화 작업이 필요합니다.
    encoder = LabelEncoder()
    
    # X_train을 기준으로 인코딩 기준(클래스)을 정합니다.
    x_train[col] = encoder.fit_transform(x_train[col])
    
    # x_train에서 학습된 기준으로 x_test를 변환합니다.
    x_test[col] = encoder.transform(x_test[col])

In [27]:
# 학습/검증 데이터를 분리합니다.
from sklearn.model_selection import train_test_split
X_train, X_validate, Y_train, Y_validate = train_test_split(x_train, y_train, test_size=0.2, random_state=42)

In [28]:
# 머신러닝 학습을 수행하고, 학습된 모델을 생성합니다.
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor()
rfr.fit(X_train, Y_train)
y_val_pred = rfr.predict(X_validate)

# print(y_val_pred)

c:\Users\FORYOUCOM\Desktop\빅데이터분석기사 준비\venv\lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [29]:
# 학습된 모델의 성능을 검증 데이터를 통해 테스트합니다.
from sklearn.metrics import root_mean_squared_error, r2_score
rmse = root_mean_squared_error(Y_validate, y_val_pred)
r2 = r2_score(Y_validate, y_val_pred)

print(rmse)
print(r2)

1.0681901268308107
0.9052586265874779

In [31]:
y_pred = rfr.predict(x_test)
# print(y_pred)
result = pd.DataFrame(y_pred, columns=['pred'])
result.to_csv('result_csv', index=False)