In [2]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_test.csv")


display(x_train.head())
display(y_train.head())

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15799217,Zetticci,791,Germany,Female,35,7,52436.20,1,1,0,161051.75
1,15748986,Bischof,705,Germany,Male,42,8,166685.92,2,1,1,55313.51
2,15722004,Hsiung,543,France,Female,31,4,138317.94,1,0,0,61843.73
3,15780966,Pritchard,709,France,Female,32,2,0.00,2,0,0,109681.29
4,15636731,Ts'ai,714,Germany,Female,36,1,101609.01,2,1,1,447.73

   CustomerId  Exited
0    15799217       0
1    15748986       0
2    15722004       0
3    15780966       0
4    15636731       0

In [3]:
# 문제. 고객의 신상정보 데이터를 통한 회사 서비스 이탈 예측 (종속변수 : Exited)

In [8]:
x_train.info()
print("-----------------------------------------------")
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6499 entries, 0 to 6498
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       6499 non-null   int64
 1   Surname          6499 non-null   object
 2   CreditScore      6499 non-null   int64
 3   Geography        6499 non-null   object
 4   Gender           6499 non-null   object
 5   Age              6499 non-null   int64
 6   Tenure           6499 non-null   int64
 7   Balance          6499 non-null   float64
 8   NumOfProducts    6499 non-null   int64
 9   HasCrCard        6499 non-null   int64
 10  IsActiveMember   6499 non-null   int64
 11  EstimatedSalary  6499 non-null   float64
dtypes: float64(2), int64(7), object(3)
memory usage: 609.4+ KB
-----------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6499 entries, 0 to 6498
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerId  6499 non-null   int64
 1   Exited      6499 non-null   int64
dtypes: int64(2)
memory usage: 101.7 KB

1. 단순 결측치는 없는 것으로 확인된다.
2. 학습, 검증을 위한 데이터셋 x 와 예측하고자 하는 종속변수 y 가 분리되어 제공되고 있다.

In [10]:
# x_test 데이터를 확인

display(x_test)
x_test.info()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15601012,Abdullah,802,France,Female,60,3,92887.06,1,1,0,39473.63
1,15734762,Ignatiev,602,France,Female,56,3,115895.22,3,1,0,4176.17
2,15586757,Anenechukwu,801,France,Female,32,4,75170.54,1,1,1,37898.50
3,15590888,Wade,693,Spain,Female,34,10,107556.06,2,0,0,154631.35
4,15726087,Ch'in,592,France,Female,62,5,0.00,1,1,1,100941.57
...,...,...,...,...,...,...,...,...,...,...,...,...
3496,15733966,Johnstone,496,Germany,Female,55,4,125292.53,1,1,1,31532.96
3497,15669994,Greece,556,Germany,Female,31,1,128663.81,2,1,0,125083.29
3498,15712403,McMillan,589,France,Female,61,1,0.00,1,1,0,61108.56
3499,15643819,Dawson,714,France,Female,25,4,0.00,2,0,0,82500.84
3500,15644962,Connolly,745,France,Male,21,4,137910.45,1,1,1,177235.23

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3501 entries, 0 to 3500
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       3501 non-null   int64
 1   Surname          3501 non-null   object
 2   CreditScore      3501 non-null   int64
 3   Geography        3501 non-null   object
 4   Gender           3501 non-null   object
 5   Age              3501 non-null   int64
 6   Tenure           3501 non-null   int64
 7   Balance          3501 non-null   float64
 8   NumOfProducts    3501 non-null   int64
 9   HasCrCard        3501 non-null   int64
 10  IsActiveMember   3501 non-null   int64
 11  EstimatedSalary  3501 non-null   float64
dtypes: float64(2), int64(7), object(3)
memory usage: 328.3+ KB

In [12]:
# concat() 을 수행하여 학습을 위한 데이터를 만든다.
## pd.concat() : 두 개의 데이터 프레임을 id에 맞춰서 결합시킨다.
### 이 작업은 학습을 위해서, 독립변수와 종속변수를 하나의 데이터 프레임으로 만들기 위해 필요하다.

train_set = pd.concat([x_train, y_train['Exited']], axis = 1)

display(train_set.head(20))
train_set.info()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15799217,Zetticci,791,Germany,Female,35,7,52436.20,1,1,0,161051.75,0
1,15748986,Bischof,705,Germany,Male,42,8,166685.92,2,1,1,55313.51,0
2,15722004,Hsiung,543,France,Female,31,4,138317.94,1,0,0,61843.73,0
3,15780966,Pritchard,709,France,Female,32,2,0.00,2,0,0,109681.29,0
4,15636731,Ts'ai,714,Germany,Female,36,1,101609.01,2,1,1,447.73,0
5,15670646,Moore,499,Spain,Female,42,0,147187.84,1,1,1,14868.94,1
6,15610156,Ma,637,France,Male,40,2,133463.10,1,0,1,93165.34,0
7,15736816,Young,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,0
8,15581388,Y?an,487,Spain,Male,33,8,145729.71,1,1,0,41365.85,0
9,15790322,Beneventi,660,France,Female,32,0,114668.89,1,1,0,84605.00,0
10,15609758,Geoghegan,537,France,Female,45,7,158621.04,1,1,0,120892.96,1
11,15759537,Bianchi,717,Germany,Male,35,7,58469.37,2,1,1,172459.39,0
12,15727688,Chizuoke,555,Spain,Male,32,4,0.00,2,1,1,54405.79,0
13,15790594,Bednall,535,France,Female,27,6,0.00,2,0,1,49775.58,0
14,15729763,Nelson,655,Spain,Male,34,1,116114.93,1,1,1,49492.15,0
15,15619029,Bykov,620,Spain,Female,43,2,0.00,2,1,0,20670.10,0
16,15674254,Kerr,554,Spain,Female,45,4,0.00,2,1,1,193412.05,0
17,15598744,Ch'ang,576,Germany,Female,71,6,140273.47,1,1,1,193135.25,1
18,15703399,McNeil,756,France,Female,26,5,101641.14,2,0,1,154460.68,0
19,15690372,Henry,553,Spain,Male,38,1,181110.13,2,1,0,184544.59,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6499 entries, 0 to 6498
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       6499 non-null   int64
 1   Surname          6499 non-null   object
 2   CreditScore      6499 non-null   int64
 3   Geography        6499 non-null   object
 4   Gender           6499 non-null   object
 5   Age              6499 non-null   int64
 6   Tenure           6499 non-null   int64
 7   Balance          6499 non-null   float64
 8   NumOfProducts    6499 non-null   int64
 9   HasCrCard        6499 non-null   int64
 10  IsActiveMember   6499 non-null   int64
 11  EstimatedSalary  6499 non-null   float64
 12  Exited           6499 non-null   int64
dtypes: float64(2), int64(8), object(3)
memory usage: 660.2+ KB

In [16]:
# describe()를 이용해 전처리를 수행하기 이전, 데이터 정보를 파악할 수 있다.
## 1. 범주형 자료의 정보를 파악한다.
display(train_set.describe(include=['object', 'category']))

       Surname Geography Gender
count     6499      6499   6499
unique    2289         3      4
top      Brown    France   Male
freq        21      3227   3485

범주형 자료에 대한 .describe() 메서드 수행 결과 변수
   - count: 결측치를 제외한 전체 데이터의 수 (행의 수와 일치).
   - unique: 서로 다른 범주의 수 (범주 종류의 수).
   - top: 최빈 범주
   - freq: 최빈 범주의 개수.

In [15]:
## 2. 수치형 자료의 정보를 파악한다.
### describe()메서드에 인자를 따로 전달하지 않으면, 기본적으로 수치형 자료에 대해서 출력된다.

display(train_set.describe())

,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,6.499000e+03,6499.000000,6499.000000,6499.000000,6499.000000,6499.000000,6499.000000,6499.000000,6499.000000,6499.000000
mean,1.569157e+07,650.396830,38.957070,5.041545,76836.581068,1.519772,0.708878,0.514387,100346.564524,0.203724
std,7.187584e+04,96.618957,10.502803,2.891779,62407.570894,0.578975,0.454314,0.499831,57944.655305,0.402797
min,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,11.580000,0.000000
25%,1.562949e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.000000,0.000000,50907.565000,0.000000
50%,1.569181e+07,651.000000,37.000000,5.000000,97560.160000,1.000000,1.000000,1.000000,100496.840000,0.000000
75%,1.575358e+07,718.000000,44.000000,8.000000,127844.690000,2.000000,1.000000,1.000000,150480.155000,0.000000
max,1.581566e+07,850.000000,92.000000,10.000000,238387.560000,4.000000,1.000000,1.000000,199970.740000,1.000000

In [18]:
# 과적합을 방지하기 위해, 사용자의 고유한 id 컬럼을 제거한다.
## surname 컬럼 또한, 예측 데이터로서 무의미. unique value 가 매우 많다고 나오기 때문에(상식적으로도 그렇지만, 기술적으로 그렇게 해석할 수 있다.)

train_set = train_set.drop(columns=['CustomerId', 'Surname'])
display(train_set)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,791,Germany,Female,35,7,52436.20,1,1,0,161051.75,0
1,705,Germany,Male,42,8,166685.92,2,1,1,55313.51,0
2,543,France,Female,31,4,138317.94,1,0,0,61843.73,0
3,709,France,Female,32,2,0.00,2,0,0,109681.29,0
4,714,Germany,Female,36,1,101609.01,2,1,1,447.73,0
...,...,...,...,...,...,...,...,...,...,...,...
6494,696,Spain,Male,24,9,0.00,1,0,0,10883.52,0
6495,513,Germany,Male,34,7,60515.13,1,0,0,124571.09,0
6496,663,Spain,Female,22,9,0.00,1,1,0,29135.89,1
6497,635,Spain,Female,48,2,0.00,2,1,1,136551.25,0
6498,597,France,Female,36,9,0.00,2,1,1,7156.09,0

In [19]:
# 검증용 데이터에도 동일한 작업을 수행해준다.

x_test = x_test.drop(columns=['CustomerId', 'Surname'])
display(x_test)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,802,France,Female,60,3,92887.06,1,1,0,39473.63
1,602,France,Female,56,3,115895.22,3,1,0,4176.17
2,801,France,Female,32,4,75170.54,1,1,1,37898.50
3,693,Spain,Female,34,10,107556.06,2,0,0,154631.35
4,592,France,Female,62,5,0.00,1,1,1,100941.57
...,...,...,...,...,...,...,...,...,...,...
3496,496,Germany,Female,55,4,125292.53,1,1,1,31532.96
3497,556,Germany,Female,31,1,128663.81,2,1,0,125083.29
3498,589,France,Female,61,1,0.00,1,1,0,61108.56
3499,714,France,Female,25,4,0.00,2,0,0,82500.84
3500,745,France,Male,21,4,137910.45,1,1,1,177235.23

In [20]:
x = train_set.drop(columns=['Exited'])
y = train_set['Exited']

display(x)
display(y)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,791,Germany,Female,35,7,52436.20,1,1,0,161051.75
1,705,Germany,Male,42,8,166685.92,2,1,1,55313.51
2,543,France,Female,31,4,138317.94,1,0,0,61843.73
3,709,France,Female,32,2,0.00,2,0,0,109681.29
4,714,Germany,Female,36,1,101609.01,2,1,1,447.73
...,...,...,...,...,...,...,...,...,...,...
6494,696,Spain,Male,24,9,0.00,1,0,0,10883.52
6495,513,Germany,Male,34,7,60515.13,1,0,0,124571.09
6496,663,Spain,Female,22,9,0.00,1,1,0,29135.89
6497,635,Spain,Female,48,2,0.00,2,1,1,136551.25
6498,597,France,Female,36,9,0.00,2,1,1,7156.09

0       0
1       0
2       0
3       0
4       0
       ..
6494    0
6495    0
6496    1
6497    0
6498    0
Name: Exited, Length: 6499, dtype: int64

In [29]:
# 범주형 데이터를 학습할 수 있도록 encoding 작업이 필요함.
## 수치형 데이터를 전달하기 위해서는 'number' 키워드를 사용해야 함. 'numeric' 은 오류 발생.

category_lst = train_set.drop(columns=['Exited']).select_dtypes(exclude=['number']).columns.to_list()
print(category_lst)

x_encoded = pd.get_dummies(x, columns=category_lst, drop_first=False)
x_test_encoded = pd.get_dummies(x_test, columns=category_lst, drop_first=False)

# display(x_encoded)

['Geography', 'Gender']

원-핫 인코딩 적용
- drop_first = False
- False: 기준 범주 없이 모든 범주를 0과 1로 encoding 할 때 사용한다. 이는 기준 범주 없이 개별 범주로 처리하기 때문.
- True: 통계모델에서 기준 범주를 설정할 때 사용한다. 통계에서는 기준 범주를 기준으로하여 변화량을 측정하기 때문. (이 경우 기준범주가 0이 된다).

<hr>

- 위 사항은 모두 이론적인 부분이니 당장은 그냥 넘어가도 무방. 빅분기 시험에 대해선 drop_first=False 를 인자로 전달하는 것이 유리하다고만 기억하자. (애초에 머신러닝은 보편적으로 그렇게 하는 게 맞다고 함 by gemini)

In [30]:
from sklearn.model_selection import train_test_split

In [34]:
X_train, X_validate, y_train, y_validate = train_test_split(x_encoded, y, test_size=0.3, random_state=42, stratify=y)

학습용 데이터와 검증용 데이터를 분리하는 작업.
특히 **train_test_split()** 메서드에 **stratify=y** 를 전달하여, 예측값의 분포 비율을 일치시키는 게 중요하다.

In [ ]:
# 수치형 데이터에 대한 스케일링 작업.
## 스케일링은 수치형 데이터에 대해서, 데이터의 기술 통계량을 데이터에 반영시켜서 머신러닝 성능을 좀 더 안정적으로 만들 수 있다.

number_lst = X_train.select_dtypes(include=['number']).columns.to_list()
# print(number_lst)

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# 학습용 데이터에는 scaler.fit_transform() 메서드를 수행한다.
X_train[number_lst] = scaler.fit_transform(X_train[number_lst])

# 검증용 데이터에는 scaler.transform() 메서드를 수행한다.
X_validate[number_lst] = scaler.transform(X_validate[number_lst])

# 최종 테스트 데이터에 대해서도 스케일링을 해준다. (데이터 처리 로직의 일관성 유지)
x_test_encoded[number_lst] = scaler.transform(x_test_encoded[number_lst])

스케일링은 단순히 값을 바꾸는 것이 아니라, 각 특징(Feature)이 가지는 범위와 크기의 격차를 해소하여, "모델이 특정 큰 값에만 치우쳐 학습하는 것을 막는" 공정성을 확보하는 과정이라고 이해하시면 됩니다. <br>
\- by gemini

In [38]:
# 실제로 랜덤포레스트 학습을 실시하여, 머신러닝 모델을 만든다.

from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=23)

rfc.fit(X_train, y_train)

RandomForestClassifier(random_state=23)

In [40]:
from sklearn.metrics import roc_auc_score, classification_report, confusion_matrix

# 1. 검증 데이터에 대한 예측
# 클래스 예측 (0 또는 1)
val_pred_label = rfc.predict(X_validate)
# 양성 클래스(1)일 확률 예측 (AUC 계산에 사용)
val_pred_proba = rfc.predict_proba(X_validate)[:, 1]

# 2. AUC-ROC 지표 출력 (빅분기 2유형 주요 채점 지표)
auc_score = roc_auc_score(y_validate, val_pred_proba)
print(f"✅ 검증 데이터 AUC-ROC: {auc_score:.4f}")

# 3. 상세 평가 지표 출력
print("\n📋 Classification Report:")
print(classification_report(y_validate, val_pred_label))

print("🧮 Confusion Matrix:")
print(confusion_matrix(y_validate, val_pred_label))

✅ 검증 데이터 AUC-ROC: 0.8462

📋 Classification Report:
              precision    recall  f1-score   support

           0       0.87      0.97      0.92      1553
           1       0.79      0.42      0.55       397

    accuracy                           0.86      1950
   macro avg       0.83      0.70      0.73      1950
weighted avg       0.85      0.86      0.84      1950

🧮 Confusion Matrix:
[[1508   45]
 [ 230  167]]

학습 데이터와 검증 데이터를 이용해서, 모델을 평가하는 작업. 그러나 나는 그냥 낼 것임...<br>
실제 모델을 개선하는 작업을 수행한다면, 끊임 없이 검증 데이터를 확인하고, 성능을 올려야 함.

In [42]:
# 최종 예측 데이터를 생성합니다.
test_pred_label = rfc.predict(x_test_encoded)
test_pred_proba = rfc.predict_proba(x_test_encoded)[:, 1]

# 최종 예측 데이터를 CSV로 저장합니다.
pd.DataFrame({'pred': test_pred_label}).to_csv('label.csv', index=True, index_label='ID')
pd.DataFrame({'pred': test_pred_proba}).to_csv('proba.csv', index=True, index_label='ID')